<template>
    <div id="chart">
        <apexchart ref="mChart" height="350" type="line" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>

<script>
export default {
  data: () => ({
    showGraph: false,
    series: [{
      name: 'positive',
      type: 'column',
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    }, {
      name: 'negative',
      type: 'column',
      data: [1.1, 3, 3.1, 4, 4.1, 4.9, 6.5, 8.5]
    }, {
      name: 'total',
      type: 'line',
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    }],
    chartOptions: {
      chart: {
        height: 350,
        type: 'line',
        stacked: false
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: [1, 1, 4]
      },
      title: {
        text: 'Monthly Test Results',
        align: 'left',
        offsetX: 110
      },
      xaxis: {
        categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
      },
      
      tooltip: {
        fixed: {
          enabled: true,
          position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
          offsetY: 30,
          offsetX: 60
        },
      },
      legend: {
        horizontalAlign: 'left',
        offsetX: 40
      }
    },
    
  }),

  computed: {
    userData() {
      return this.$decoder.decode(localStorage.getItem('token'))
    },
  },
  created(){
    this.getDashboardMonthly();
  },
  methods: {
    showDetails(data){
      this.visible = true;
    },
    showUpdateCase(){
      this.visible = true;
    },
    async getDashboardMonthly(){

      let payload = {
        branch: this.userData.branchId
      }
      const {status, data} = await this.$store.dispatch("misc/getDashboardsMonthly", payload);

      if(status >= 200 || status <= 299){
        // this.chartOptions.xaxis.categories = data.categories;
        this.series = data.series;
        this.$refs.mChart.updateOptions({
          xaxis: {
            categories: data.categories
          }
        })
      }

    },
  },
};
</script>