<template>
    <div id="chart">
        <apexchart type="radar" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>

<script>
export default {
  data: () => ({
    series: [
        {
            name: 'Positive',
            data: [20, 100, 40, 30, 50, 80, 33],
        },
        {
            name: 'Negative',
            data: [30, 59, 40, 50, 50, 100, 44],
        }
    ],
    chartOptions: {
        chart: {
            height: 350,
            type: 'radar',
            dropShadow: {
                enabled: true,
                blur: 1,
                left: 1,
                top: 1
            }
        },
        dataLabels: {
          enabled: true
        },
        // plotOptions: {
        //   radar: {
        //     size: 140,
        //     polygons: {
        //       strokeColors: '#e9e9e9',
        //       fill: {
        //         colors: ['#f8f8f8', '#fff']
        //       }
        //     }
        //   }
        // },
        title: {
          text: 'Weekly Covid Result'
        },
        // colors: ['#FF4560'],
        markers: {
          size: 4,
          colors: ['#fff'],
          strokeColor: '#FF4560',
          strokeWidth: 2,
        },
        tooltip: {
          y: {
            formatter: function(val) {
              return val
            }
          }
        },
        xaxis: {
          categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
        },
        yaxis: {
          tickAmount: 7,
          labels: {
            formatter: function(val, i) {
              if (i % 2 === 0) {
                return val
              } else {
                return ''
              }
            }
          }
        }
    },
    
  }),

  computed: {
    userData() {
      return this.$decoder.decode(localStorage.getItem('token'))
    },
  },
  created(){
    this.getDashboardWeekly();
  },
  methods: {
    showDetails(data){
      this.visible = true;
    },
    showUpdateCase(){
      this.visible = true;
    },
    async getDashboardWeekly(){

      let payload = {
        branch: this.userData.branchId
      }
      const {status, data} = await this.$store.dispatch("misc/getDashboardsWeekly", payload);

      if(status >= 200 || status <= 299){
        // this.chartOptions.xaxis.categories = data.categories;
        this.series = data.series;
      }

    },
  },
};
</script>