<template>
  <a-form-model ref="ruleForm" :model="form" :label-col="labelCol" :rules="rules" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      <a-col :span="24">
        <a-divider orientation="left">Patient Details</a-divider>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Last Name" prop="lastName">
          <a-input v-model="form.lastName" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="First Name" prop="firstName">
          <a-input v-model="form.firstName" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Middle Name">
          <a-input v-model="form.middleName" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Suffix">
          <a-input v-model="form.suffix" class="allCaps" />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="6">
        <a-form-model-item label="Birth Date" prop="birthDate">
          <!-- <a-date-picker
            v-model="form.birthDate"
            placeholder="Pick a date"
            @change="dateOfBirthChange"
            style="width: 100%;"
          /> -->
          <a-date-picker 
            v-model="form.birthDate" 
            :default-value="moment(currentDate, dateFormat)" 
            :format="dateFormat" 
            @change="dateOfBirthChange"
            style="width: 100%;" 
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Age">
          <a-input :readOnly="true" v-model="form.age" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Sex" prop="sex">
          <a-radio-group v-model="form.sex">
            <a-radio value="Male">
              Male
            </a-radio>
            <a-radio value="Female">
              Female
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Civil Status">
          <a-select v-model="form.civilStatus" placeholder="please select civil status">
            <a-select-option value="Single">
              Single
            </a-select-option>
            <a-select-option value="Married">
              Married
            </a-select-option>
            <a-select-option value="Divorced">
              Divorced
            </a-select-option>
            <a-select-option value="Separated">
              Separated
            </a-select-option>
            <a-select-option value="Widowed">
              Widowed
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Nationality" prop="nationality">
          <a-input v-model="form.nationality" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Occupation">
          <a-input v-model="form.occupation" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Works in a closed setting?">
          <a-radio-group v-model="form.workSetting">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown">
              Unknown
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      
    </a-row>

    <a-row v-for="(field, idx) in form.addressesDetails" :key="idx">
      <a-col :span="24">
        <a-divider orientation="left">
          {{ field.title }} 
        </a-divider>
      </a-col>
      
      <a-col v-if="idx != 0" :span="24">
          <a-checkbox @change="sameAsPresentAddress($event, idx)">
            Same as Present/Current Address
          </a-checkbox>
      </a-col>
    
      <a-col v-if="idx == 0" :span="6">
        
        <a-form-model-item label="Region *">
          <a-select
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in regionList" :key="item.region_code" :value="item.region_name" @click="regionChanged(item.region_code)" >
              {{ item.region_name }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx == 0" :span="6">
        
        <a-form-model-item label="Province *">
          <a-select
            v-model="field.province"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in provinceList" :key="item.province_code" :value="item.province_name" @click="provinceChanged(item.province_code)" >
              {{ item.province_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`province-${idx}`" @change="getMunicipality" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx == 0" :span="6">
        <a-form-model-item label="Municipality/City *">
          <a-select
            v-model="field.municipality"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in cityList" :key="item.city_code" :value="item.city_name" @click="cityChanged(item.city_code)" >
              {{ item.city_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`municipality-${idx}`" @change="getBarangay" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx == 0" :span="6">
        <a-form-model-item label="Barangay *">
          <a-select
            v-model="field.barangay"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in brgyList" :key="item.brgy_code" :value="item.brgy_name" >
              {{ item.brgy_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`barangay-${idx}`" @change="setBarangayValue" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>

      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Province">
          <a-input v-model="field.province" />
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Municipality/City">
          <a-input v-model="field.municipality" />
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Barangay">
          <a-input v-model="field.barangay" />
        </a-form-model-item>
      </a-col>

      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'House No./Lot/Bldg. *':'House No./Lot/Bldg.'}`">
          <a-input v-if="idx == 0" v-model="field.houseNo" prop="addrHouseNo" />
          <a-input v-if="idx != 0" v-model="field.houseNo" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'Street/Purok/Sitio *':'Street/Purok/Sitio'}`">
          <a-input v-if="idx == 0" v-model="field.street" prop="addrStreet" />
          <a-input v-if="idx != 0" v-model="field.street" />
        </a-form-model-item>
      </a-col> 
      

      <a-col :span="6">
        <a-form-model-item label="Home Phone No.">
          <a-input v-model="field.areaCode" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'Cellphone No. *':'Cellphone No.'}`">
          <a-input v-if="idx == 0" class="contactNumberMask" v-model="field.cellNumber" prop="addrCellNumber" />
          <a-input v-if="idx != 0" class="contactNumberMask" v-model="field.cellNumber" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Email Address">
          <a-input v-model="field.emailAddress" />
        </a-form-model-item>
      </a-col>
      
      
    </a-row>

    <a-row>
      <a-col :span="24">
        <a-divider orientation="left">Special Population (indicate further details on exposure and travel history in Part 3)</a-divider>
      </a-col>
      <a-col :span="`${form.isHealthWorker == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Health Care Worker" prop="isHealthWorker">
          <a-select v-model="form.isHealthWorker" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isHealthWorker == 'Yes'" :span="3">
        <a-form-model-item label="Facility">
          <a-input v-model="form.isHealthWorkerFacility" placeholder="Facility" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isHealthWorker == 'Yes'" :span="3">
        <a-form-model-item label="Location">
          <a-input v-model="form.isHealthWorkerLocation" placeholder="Location" />
        </a-form-model-item>
      </a-col>
      <a-col :span="`${form.isOversease == 'Yes' ? '6' : form.isOversease == 'OFW' ? '9' : '12'}`">
        <a-form-model-item label="Returning Overseas Filipino" prop="isOversease">
          <a-select v-model="form.isOversease" placeholder="please select option">

            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="OFW">
              OFW
            </a-select-option>
            <a-select-option value="Non-OFW">
              Non-OFW
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isOversease == 'Yes'" :span="3">
        <a-form-model-item label="Country of Origin">
          <a-input v-model="form.isOverseaseOrigin" placeholder="Country of Origin" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isOversease == 'Yes' || form.isOversease == 'OFW'" :span="3">
        <a-form-model-item label="Passport Number">
          <a-input v-model="form.isOverseasePassport" placeholder="Passport Number" />
        </a-form-model-item>
      </a-col>
      
      <a-col :span="`${form.isForeign == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Foreign National Traveler" prop="isForeign">
          <a-select v-model="form.isForeign" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isForeign == 'Yes'" :span="3">
        <a-form-model-item label="Country of Origin">
          <a-input v-model="form.isForeignOrigin" placeholder="Country of Origin" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isForeign == 'Yes'" :span="3">
        <a-form-model-item label="Passport Number">
          <a-input v-model="form.isForeignPassport" placeholder="Passport Number" />
        </a-form-model-item>
      </a-col>

      <a-col :span="`${form.isLocalTraveler == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Locally Stranded Individual / APOR / Local Traveler" prop="isLocalTraveler">
          <a-select v-model="form.isLocalTraveler" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isLocalTraveler == 'Yes'" :span="3">
        <a-form-model-item label="Traveler Type">
          <a-select v-model="form.isLocalTravelerType" placeholder="please select option">
            <a-select-option value="Locally Stranded Individual">
              Locally Stranded Individual
            </a-select-option>
            <a-select-option value="Authorized Person Outside Residence / Local Traveler">
              Authorized Person Outside Residence / Local Traveler
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isLocalTraveler == 'Yes'" :span="3">
        <a-form-model-item label="Origin">
          <a-input v-model="form.isLocalTravelerOrigin" placeholder="City, Municipality, & Province" />
        </a-form-model-item>
      </a-col>


      <a-col :span="`${form.isClosedSettings == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Lives in Closed Settings" prop="isClosedSettings">
          <a-select v-model="form.isClosedSettings" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isClosedSettings == 'Yes'" :span="3">
        <a-form-model-item label="Institution Type">
          <a-input v-model="form.isClosedSettingsType" placeholder="Institution Type" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="form.isClosedSettings == 'Yes'" :span="3">
        <a-form-model-item label="Institution Name">
          <a-input v-model="form.isClosedSettingsName" placeholder="Institution Name" />
        </a-form-model-item>
      </a-col>
      
    </a-row>

  </a-form-model>
    
</template>

<style scoped>
.allCaps{
    text-transform: uppercase;
}
</style>

<script>
import {regions, provinces, cities, barangays} from 'select-philippines-address';
import moment from 'moment';

export default {
  data() {
    return {
      dateFormat: 'M/D/YYYY',
      currentDate: moment().format('M/D/YYYY').toString(),
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      regionList: [],
      provinceList: [],
      cityList: [],
      brgyList: [],
      form: {
        lastName: '',
        firstName: '',
        middleName: '',
        suffix: '',
        birthDate: moment().format('M/D/YYYY').toString(),
        age: '',
        sex: 'Male',
        civilStatus: 'Single',
        nationality: '',
        occupation: '',
        workSetting: '',
        
        isHealthWorker: "",
        isHealthWorkerFacility: "",
        isHealthWorkerLocation: "",

        isOversease: "",
        isOverseaseOrigin: "",
        isOverseasePassport: "",

        isForeign: "",
        isForeignOrigin: "",
        isForeignPassport: "",

        isLocalTraveler: "",
        isLocalTravelerOrigin: "",
        isLocalTravelerType: "",

        isClosedSettings: "",
        isClosedSettingsType: "",
        isClosedSettingsName: "",
        addressesDetails: [
          {
            title: "Current Address in the Philippines and Contact Information*",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          },
          {
            title: "Permanent Address and Contact Information",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          },
          {
            title: "Current Workplace Address and Contact Information* ",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          },
          
        ],
      },

      rules: {
        lastName: [
          { required: true, message: 'Please input patient lastname', trigger: 'blur' },
        ],
        firstName: [
          { required: true, message: 'Please input patient firstname', trigger: 'blur' },
        ],
        birthDate: [
          { required: true, message: 'Please input patient birth date', trigger: 'blur' },
        ],
        // age: [
        //   { required: true, message: 'Please input patient age', trigger: 'blur' },
        //   { pattern: '^[0-9]*$', message: 'Only numeric input is allowed', trigger: 'blur' },
        // ],
        sex: [
          { required: true, message: 'Please select patient gender', trigger: 'blur' },
        ],
        nationality: [
          { required: true, message: 'Please input patient nationality', trigger: 'blur' },
        ],
        addrHouseNo: [
          { required: true, message: 'Please input current address House No.', trigger: 'blur' },
        ],
        addrStreet: [
          { required: true, message: 'Please input current address Street', trigger: 'blur' },
        ],
        addrCellNumber: [
          { required: true, message: 'Please input active Contact Number', trigger: 'blur' },
        ],
        isHealthWorker: [
          { required: true, message: 'Please select answer', trigger: 'blur' },
        ],
        isOversease: [
          { required: true, message: 'Please select answer', trigger: 'blur' },
        ],
        isForeign: [
          { required: true, message: 'Please select answer', trigger: 'blur' },
        ],
        isLocalTraveler: [
          { required: true, message: 'Please select answer', trigger: 'blur' },
        ],
        isClosedSettings: [
          { required: true, message: 'Please select answer', trigger: 'blur' },
        ],
      },

      typecases: [ 
        "Not applicable (New case)", 
        "Not applicable (Unknown)", 
        "Update symptoms", 
        "Update health status", 
        "Update outcome", 
        "Update case classification", 
        "Update lab result", 
        "Update chest imaging findings", 
        "Update disposition", 
        "Update exposure / travel history", 
        "Others, specify:"
      ],
      typecaseOthers: false,
      isValidated: true,
    };
  },
  mounted(){
    let contactNumber = $('.contactNumberMask');
    Inputmask("(09|\+639)9{9}").mask(contactNumber);

    // this.getProvinces();
    regions().then((region) =>{
      this.regionList = region;
    })
  },
  methods: {
    moment,
    async onValidate(){
      await this.$refs.ruleForm.validate(valid => {
        if(!valid){
          this.isValidated = false;
        } else this.isValidated = true;
      })
    },
    sameAsPresentAddress(e, index){
      let prop = e.target;
      if(prop.checked == true){
        this.form.addressesDetails[index].province = this.form.addressesDetails[0].province
        this.form.addressesDetails[index].municipality = this.form.addressesDetails[0].municipality
        this.form.addressesDetails[index].barangay = this.form.addressesDetails[0].barangay
        this.form.addressesDetails[index].street = this.form.addressesDetails[0].street
        this.form.addressesDetails[index].houseNo = this.form.addressesDetails[0].houseNo
        this.form.addressesDetails[index].areaCode = this.form.addressesDetails[0].areaCode
        this.form.addressesDetails[index].cellNumber = this.form.addressesDetails[0].cellNumber
        this.form.addressesDetails[index].emailAddress = this.form.addressesDetails[0].emailAddress
      } else {
        this.form.addressesDetails[index].province = ""
        this.form.addressesDetails[index].municipality = ""
        this.form.addressesDetails[index].barangay = ""
        this.form.addressesDetails[index].street = ""
        this.form.addressesDetails[index].houseNo = ""
        this.form.addressesDetails[index].areaCode = ""
        this.form.addressesDetails[index].cellNumber = ""
        this.form.addressesDetails[index].emailAddress = ""
      }
      
    },
    

    async getProvinces(){
      this.form.addressesDetails.forEach((el, key)=> {
        if(key == 0){
          $('#province-'+key).ph_locations({'location_type': 'provinces'});
          $('#province-'+key).ph_locations('fetch_list', [{"region_code": "03"}]);
        }
      });
    },
    regionChanged(value){
      provinces(value).then((province) => {
        this.provinceList = province
      });
    },
    provinceChanged(value){
      cities(value).then((cities) => {
        this.cityList = cities
      });
    },
    cityChanged(value){
      barangays(value).then((barangays) => {
        this.brgyList = barangays
      });
    },
    async getMunicipality(e){
      let vm = this;
      let prop = e.target;
      let index = prop.id.slice(-1);
      vm.form.addressesDetails[index].province = $( "#province-"+index+" option:selected").text();
      $('#municipality-'+prop.id.slice(-1)).ph_locations({'location_type': 'cities'});
      $('#municipality-'+prop.id.slice(-1)).ph_locations('fetch_list', [{"province_code": String(prop.value)}]);
    },
    async getBarangay(e){
      let vm = this;
      let prop = e.target;
      let index = prop.id.slice(-1);
      vm.form.addressesDetails[index].municipality = $( "#municipality-"+index+" option:selected").text();
      $('#barangay-'+prop.id.slice(-1)).ph_locations({'location_type': 'barangays'});
      $('#barangay-'+prop.id.slice(-1)).ph_locations('fetch_list', [{"city_code": String(prop.value)}]);
    },
    async setBarangayValue(e){
      let vm = this;
      let prop = e.target;
      let index = prop.id.slice(-1);
      vm.form.addressesDetails[index].barangay = $( "#barangay-"+index+" option:selected").text();
    },
    dateOfBirthChange(date, dateString){
      var today = new Date();
      var birthDate = new Date(dateString);
      var age = today.getFullYear() - birthDate.getFullYear();
      var m = today.getMonth() - birthDate.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) 
      {
        age--;
      }
      this.form.birthDate = dateString;
      this.form.age = age;
    },

    resetForm(){
      this.form = {
        lastName: '',
        firstName: '',
        middleName: '',
        suffix: '',
        birthDate: '',
        age: '',
        sex: 'Male',
        civilStatus: 'Single',
        nationality: '',
        workSetting: '',
        
        isHealthWorker: "",
        isHealthWorkerFacility: "",
        isHealthWorkerLocation: "",

        isOversease: "",
        isOverseaseOrigin: "",
        isOverseasePassport: "",

        isForeign: "",
        isForeignOrigin: "",
        isForeignPassport: "",

        isLocalTraveler: "",
        isLocalTravelerOrigin: "",
        isIndigenous: "",
        isIndigenousGroup: "",
        isClosedSettings: "",
        isClosedSettingsType: "",
        isClosedSettingsName: "",
        addressesDetails: [
          {
            title: "Current Address in the Philippines and Contact Information*",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          },
          {
            title: "Current Address in the Philippines and Contact Information*  (Provide address of institution if patient lives in closed settings, see 1.5)",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          },
          {
            title: "Permanent Address and Contact Information (if different from current address)",
            houseNo: "",
            street: "",
            barangay: "",
            municipality: "",
            province: "",
            areaCode: "",
            cellNumber: "",
            emailAddress: "",
          }
        ],
      }
    }

    
  },
};
</script>
