<template>
  <a-form-model :model="form" :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      
      <a-col :span="24">
        <a-form-model-item label="History of exposure to known probable and/or confirmed COVID-19 case 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection? *">
          <a-radio-group v-model="form.hasHistoryExposure">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown">
              Unknown
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      <a-col :span="24">
        <a-form-model-item label="Has the patient been in a place with a known COVID-19 transmission 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection? *">
          <a-radio-group v-model="form.hasSignSymptoms">
            <a-radio value="Yes International">
              Yes, International
            </a-radio>
            <a-radio value="Yes Local">
              Yes, Local
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown exposure">
              Unknown exposure
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="If International Travel, country of origin">
          <a-input class="allCaps" v-model="form.isInternationalTravel" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Inclusive travel dates:">
          <!-- <a-range-picker v-model="form.travelDate" @change="onChange" /> -->
          <a-range-picker
            v-model="form.travelDate"
            :default-value="[moment(currentDate, dateFormat), moment(currentDate, dateFormat)]"
            :format="dateFormat"
            @change="onChange"
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="With ongoing COVID-19 community transmission?">
          <a-radio-group v-model="form.withCommunityTransmission">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      
    </a-row> 

    <a-row>
      <a-col :span="6">
        <a-form-model-item label="Airline/Sea vessel">
          <a-input class="allCaps" v-model="form.vessel" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Flight/Vessel Number">
          <a-input class="allCaps" v-model="form.vesselNumber" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Date of departure (MM/DD/YYYY)">
          <!-- <a-date-picker
            @change="onChangeDepart"
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
          /> -->
          <a-date-picker 
            v-model="form.dateOfDeparture" 
            :default-value="moment(currentDate, dateFormat)" 
            :format="dateFormat" 
            style="width: 100%;" 
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Date of arrival in PH (MM/DD/YYYY)">
          <!-- <a-date-picker
            @change="onChangeArrive"
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
          /> -->
          <a-date-picker 
            v-model="form.dateOfArrival" 
            :default-value="moment(currentDate, dateFormat)" 
            :format="dateFormat" 
            style="width: 100%;" 
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="24">
        <a-form-model-item
          v-for="(field, index) in form.placeVisited"
          :key="index"
          :label="index === 0 ? 'If Local Travel, specify travel places ' : ''"
        >
          <a-input class="allCaps" v-model="field.placeVisit" placeholder="Place Visited"  style="width: 20%; margin-right: 8px"/>
          <a-input class="allCaps" v-model="field.placeName" placeholder="Place Name"  style="width: 20%; margin-right: 8px"/>
          <a-input class="allCaps" v-model="field.placeAddress" placeholder="Address"  style="width: 20%; margin-right: 8px"/>
          <a-input class="allCaps date_range_mask" v-model="field.travelDate" placeholder="Travel Date"  style="width: 20%; margin-right: 8px"/>
          <!-- <a-range-picker 
            v-model="field.travelDate"
            :format="dateFormatList"
            :default-value="[moment(currentDate, dateFormat)._i, moment(currentDate, dateFormat)._i]"
            style="width: 20%; margin-right: 8px" 
          /> -->
          <!-- <a-range-picker
            v-model="field.travelDate"
            :default-value="[moment(currentDate, dateFormat)._i, moment(currentDate, dateFormat)._i]"
            :format="dateFormat"
          /> -->
          
          With ongoing COVID-19 community transmission?
          <a-radio-group v-model="field.communityTransmission">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
          </a-radio-group>

          <a-icon
            v-if="form.placeVisited.length > 1"
            class="dynamic-delete-button"
            type="minus-circle-o"
            :disabled="form.placeVisited.length === 1"
            @click="removePlaceVisited(field)"
          />
        </a-form-model-item>

        <a-form-model-item >
          <a-button type="dashed" style="width: 100%" @click="addPlaceVisited">
            <a-icon type="plus" /> Add Place Visited
          </a-button>
        </a-form-model-item>
      </a-col>

      <a-col :span="12">
        - If symptomatic, provide names and contact numbers of persons who were with the patient two days prior to onset of illness until this date <br>
        - If asymptomatic, provide names and contact numbers of persons who were with the patient on the day specimen was submitted for testing until this date
      </a-col>
      <a-col :span="12">
        <a-form-model-item
          v-for="(field, index) in form.contactTrace"
          :key="index"
          label=""
        >
          <a-input class="allCaps" v-model="field.name" placeholder="Name"  style="width: 40%; margin-right: 8px"/>
          <a-input v-model="field.contactNumber" placeholder="Contact Number"  style="width: 40%; margin-right: 8px"/>
          <a-icon
            v-if="form.contactTrace.length > 1"
            class="dynamic-delete-button"
            type="minus-circle-o"
            :disabled="form.contactTrace.length === 1"
            @click="removeContactPerson(field)"
          />
        </a-form-model-item>

        <a-form-model-item >
          <a-button type="dashed" style="width: 100%" @click="addContactPerson">
            <a-icon type="plus" /> Add Contact Person
          </a-button>
        </a-form-model-item>
      </a-col>
      
      
    </a-row>





  </a-form-model>
    
</template>

<style scoped>
.allCaps{
    text-transform: uppercase;
}
</style>

<script>
import moment from 'moment';

const currentDate = moment().format('M/D/YYYY').toString();

export default {
  data() {
    return {
      currentDate,
      dateFormat: 'M/D/YYYY',
      dateFormatList: ['M/D/YYYY', 'M/D/YYYY'],
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      form: {
        hasHistoryExposure: '',
        hasHistoryExposureDate: '',
        hasSignSymptoms: '',
        isInternationalTravel: '',
        travelDate: [moment(moment().format('M/D/YYYY').toString(), 'M/D/YYYY')._i, moment(moment().format('M/D/YYYY').toString(), 'M/D/YYYY')._i],
        withCommunityTransmission: '',
        vessel: '',
        vesselNumber: '',
        dateOfDeparture: moment().format('M/D/YYYY').toString(),
        dateOfArrival: moment().format('M/D/YYYY').toString(),
        
        placeVisited: [
          {
            placeVisit: '',
            placeName: '',
            placeAddress: '',
            travelDate: '',
            // travelDate: `${currentDate} - ${currentDate}`,
            communityTransmission: '',
          }
        ],
        transportServive: false,
        transportServiveField: [
          {
            serviceLine: '',
            vessel: '',
            origin: '',
            departureDate: '',
            destination: '',
            arrivalDate: '',
          }
        ],

        contactTrace: [
          {
            name: '',
            contactNumber: ''
          }
        ]
      },
    };
  },
  mounted(){
        let dateMask = $('.date_range_mask');
        Inputmask("9{0,2}/99/9999 - 9{0,2}/99/9999").mask(dateMask);
    },
  methods: {
    moment,
    onChange(date, dateString) {
      this.form.travelDate = dateString
    },
    onChangeField(date, dateString) {
      console.log(dateString)
      return dateString;
    },
    onChangeDepart(date, dateString) {
      this.form.dateOfDeparture = dateString
    },
    onChangeArrive(date, dateString) {
      this.form.dateOfArrival = dateString
    },
    onSubmit() {
      console.log('submit!', this.form);
    },
    removePlaceVisited(item) {
      let index = this.form.placeVisited.indexOf(item);
      if (index !== -1) {
        this.form.placeVisited.splice(index, 1);
      }
    },
    addPlaceVisited() {
      this.form.placeVisited.push({
        placeVisit: '',
        placeName: '',
        placeAddress: '',
        travelDate: `${currentDate} - ${currentDate}`,
        communityTransmission: '',
      });
    },
    removeContactPerson(item) {
      let index = this.form.contactTrace.indexOf(item);
      if (index !== -1) {
        this.form.contactTrace.splice(index, 1);
      }
    },
    addContactPerson() {
      this.form.contactTrace.push({
        name: '',
        contactNumber: ''
      });
    },
    resetForm(){
      this.form = {
        hasHistoryExposure: '',
        hasHistoryExposureDate: '',
        hasSignSymptoms: '',
        isInternationalTravel: '',
        withCommunityTransmission: '',
        vessel: '',
        vesselNumber: '',
        
        placeVisited: [
          {
            placeVisit: '',
            placeName: '',
            placeAddress: '',
            communityTransmission: '',
          }
        ],
        contactTrace: [
          {
            name: '',
            contactNumber: ''
          }
        ]
      }
    }
  },
};
</script>
