<template>
  <a-form-model :model="form" :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Disease Reporting Unit">
          <a-input read-only v-model="form.drUnit" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="DRU Region and Province">
          <a-input read-only v-model="form.druRegion" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="PhilHealth No.">
          <a-input :disabled="isForPayment" id="philInput" v-model="form.philHealth" />
          <a-checkbox @change="changePH">
            For Payment
          </a-checkbox>
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Name of Interviewer">
          <a-input v-model="form.interviewerName" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Contact Number of Interviewer">
          <a-input class="contactNumberMask" v-model="form.interviewerContact" />
          <a-checkbox @change="changeToLandline">
            Landline
          </a-checkbox>
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Date of Interview">
          <!-- <a-date-picker
            v-model="form.interviewDate"
            placeholder="Pick a date"
            style="width: 100%;"
            @input="dateOfInterviewChange"
          /> -->
          <a-date-picker 
            v-model="form.interviewDate" 
            :default-value="moment(currentDate, dateFormat)" 
            :format="dateFormat" 
            style="width: 100%;" 
          />
        </a-form-model-item>

      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Name of Informant">
          <a-input v-model="form.informant" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Relationship">
          <a-input v-model="form.relationship" class="allCaps" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Contact Number of Informant">
          <a-input class="contactNumberMask" v-model="form.informantContact" />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="24">
        <a-form-model-item label="If existing case">
          <a-checkbox-group v-model="form.ifCaseExists"  :options="typecases"></a-checkbox-group>
          <a-input v-if="form.ifCaseExists.includes('Others, specify:')" v-model="form.otherCase" />
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <a-form-model-item label="Client type">
          <a-checkbox-group v-model="form.clientType">
            <a-checkbox value="COVID-19 Case (Suspect, Probable, or Confirmed)" name="type">
              COVID-19 Case (Suspect, Probable, or Confirmed) 
            </a-checkbox>
            <a-checkbox value="Close Contact" name="type">
              Close Contact 
            </a-checkbox>
            <a-checkbox value="For RT-PCR Testing (Not a Case of Close Contact)" name="type">
              For RT-PCR Testing (Not a Case of Close Contact)
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <a-form-model-item label="Testing Category/Subgroup* (Check all that apply, refer to Appendix 2)">
          <a-checkbox-group v-model="form.testingCategory"  :options="testCats"></a-checkbox-group>
        </a-form-model-item>
      </a-col>
    </a-row>
  </a-form-model>
</template>

<style scoped>
.allCaps{
    text-transform: uppercase;
}
</style>

<script>
import moment from 'moment';
import Inputmask from "inputmask";

export default {
  data() {
    return {
      dateFormat: 'M/D/YYYY',
      currentDate: moment().format('M/D/YYYY').toString(),
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      druUnits: [],
      isForPayment: false,
      form: {
        drUnit: '',
        druRegion: '',
        philHealth: '',
        interviewerName: '',
        interviewerContact: '',
        interviewDate: moment().format('M/D/YYYY').toString(),
        informant: '',
        relationship: '',
        informantContact: '',
        ifCaseExists: [],
        otherCase: '',
        clientType: '',
        testingCategory: [],
      },

      testCats: ["A","B","C","D","E","F","G","H","I","J"],

      typecases: [ 
        "Not applicable (New case)", 
        "Not applicable (Unknown)", 
        "Update symptoms", 
        "Update health status", 
        "Update outcome", 
        "Update case classification", 
        "Update lab result", 
        "Update chest imaging findings", 
        "Update disposition", 
        "Update exposure / travel history", 
        "Others, specify:"
      ],
      typecaseOthers: false,
    };
  },
  created() {
    this.getBranch();
  },
  mounted(){
    // Input masking for philhealth
    let philHealth = document.getElementById('philInput');
    let contactNumber = $('.contactNumberMask');
    Inputmask("99-9{1,9}-9").mask(philHealth);
    Inputmask("(09|\+639)9{9}").mask(contactNumber);
    
  },
  computed: {
    userData() {
      return this.$decoder.decode(localStorage.getItem('token'));
    },
  },
  // created(){
  //   this.getBranch()
  // },
  methods: {
    moment,
    changePH(e){
      let val = e.target.checked;
      if(val){
        this.isForPayment = true
      } else {
        this.isForPayment = false
      }
    },
    changeToLandline(e){
      let val = e.target.checked;
      let contactNumber = $('.contactNumberMask');
      if(val){
        Inputmask("+9{3}-9{4}").mask(contactNumber);
      } else {
        Inputmask("(09|\+639)9{9}").mask(contactNumber);
      }
      
    },
    async getBranch(){
      const {status, data} = await this.$store.dispatch("misc/getBranches");

      this.druUnits = status < 300 ? data.list : [];
      
      this.druUnits = this.druUnits.filter((el) => {
        return el.id == this.userData.branchId;
      });

      this.form.drUnit = this.druUnits[0].branchName;
      this.form.druRegion = this.druUnits[0].branchRegion;

      // console.log(this.druUnits);

      this.isLoading = false;
    },
    dateOfInterviewChange(date, dateString){
      this.form.interviewDate = dateString;
    },
    resetForm(){
      this.form = {
        interviewerName: '',
        interviewerContact: '',
        interviewDate: '',
        informant: '',
        relationship: '',
        informantContact: '',
        ifCaseExists: [],
        clientType: [],
        testingCategory: '',
      }
      this.getBranch();
    }
  },
};
</script>
