<template>
  <a-result
    :status="status"
    :title="title"
    :sub-title="subTitle"
  >
    <!-- <template #extra>
      <a-button key="console" type="primary">
        Finalize and Submit
      </a-button>
      <a-button key="buy">
        Review Forms
      </a-button>
    </template> -->
  </a-result>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["title", "subTitle", "status"]
};
</script>
