<template>
  <a-form-model :model="form" :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      
        <a-col :span="24">
            
        </a-col>
        
    </a-row>






  </a-form-model>
    
</template>
<script>
export default {
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      form: {
        hasHistoryExposure: '',
        hasSignSymptoms: '',
        isInternationalTravel: '',
        travelDate: '',
        withCommunityTransmission: '',
        vessel: '',
        vesselNumber: '',
        dateOfDeparture: '',
        dateOfArrival: '',
        
        placeVisited: [
          {
            placeVisit: '',
            placeName: '',
            placeAddress: '',
            travelDate: '',
            communityTransmission: '',
          }
        ],
        contactTrace: [
          {
            name: '',
            contactNumber: ''
          }
        ]
      },
    };
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.form);
    },
    removePlaceVisited(item) {
      let index = this.form.placeVisited.indexOf(item);
      if (index !== -1) {
        this.form.placeVisited.splice(index, 1);
      }
    },
    addPlaceVisited() {
      this.form.placeVisited.push({
        placeVisit: '',
        placeName: '',
        placeAddress: '',
        travelDate: '',
        communityTransmission: '',
      });
    },
    removeContactPerson(item) {
      let index = this.form.contactTrace.indexOf(item);
      if (index !== -1) {
        this.form.contactTrace.splice(index, 1);
      }
    },
    addContactPerson() {
      this.form.contactTrace.push({
        name: '',
        contactNumber: ''
      });
    },
  },
};
</script>
