<template>
  <a-form-model :model="form" :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      <a-col :span="6">
        <a-form-model-item label="Last Name">
          <a-input v-model="form.lastName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="First Name">
          <a-input v-model="form.firstName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Middle Name">
          <a-input v-model="form.middleName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Suffix">
          <a-input v-model="form.suffix" />
        </a-form-model-item>
      </a-col>

      <a-col :span="6">
        <a-form-model-item label="Contact Number">
          <a-input v-model="form.contact" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Email">
          <a-input v-model="form.email" />
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="12">
        <a-upload-dragger
          name="profile"
          :multiple="false"
          accept = ".jpg"
          @preview="handlePreview"
          @change="handleChangeProfile"
        >
          <p class="ant-upload-drag-icon">
            <a-icon type="cloud-upload" />
          </p>
          <p v-show="form.profilePhoto == ''" class="ant-upload-text">
            Click or drag profile picture to this area to upload
          </p>
          <p class="ant-upload-hint">
            <img v-show="form.profilePhoto != ''" style="width: 150px;" :src="form.profilePhoto" alt="photo" />
          </p>
        </a-upload-dragger>
      </a-col>
      <a-col :span="12">
        <a-upload-dragger
          name="profile"
          :multiple="false"
          accept = ".png"
          @preview="handlePreview"
          @change="handleChangeSig"
        >
          <p class="ant-upload-drag-icon">
            <a-icon type="cloud-upload" />
          </p>
          <p v-show="form.eSignature == ''" class="ant-upload-text">
            Click or drag e-signature to this area to upload
          </p>
          <p class="ant-upload-hint">
            <img v-show="form.eSignature != ''" style="width: 150px;" :src="form.eSignature" alt="photo" />
          </p>
        </a-upload-dragger>
      </a-col>
    </a-row>






  </a-form-model>
    
</template>
<script>
export default {
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      previewVisible: false,
      previewImage: '',
      form: {
        firstName: "",
        lastName: "",
        middleName: "",
        suffix: "",
        contact: "",
        email: "",
        profilePhoto: "",
        eSignature: "",
      },
      rules: {
        firstName: [
          { required: true, message: 'Please input first name', trigger: 'blur' },
        ],
        lastName: [
          { required: true, message: 'Please input last name', trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    clearForms(){
      this.form.firstName= ""
      this.form.lastName= ""
      this.form.middleName = ""
      this.form.suffix= ""
      this.form.contact= ""
      this.form.email= ""
      this.form.profilePhoto= ""
      this.form.eSignature= ""
    },
    async getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },
    async handleChangeProfile(info) {
      let vm = this;
      const status = info.file.status;
      if (status !== 'uploading') {
        // console.log(info.file, info.fileList);

        await this.getBase64(info.file.originFileObj).then(
          (data) => {vm.form.profilePhoto = data}
        ).catch(error => {
            vm.$message.error(`${info.file.name} file convert failed.`);
            return;
        });
        
      }
      
    },
    async handleChangeSig(info) {
      let vm = this;
      const status = info.file.status;
      if (status !== 'uploading') {
        // console.log(info.file, info.fileList);

        await this.getBase64(info.file.originFileObj).then(
          (data) => {vm.form.eSignature = data}
        ).catch(error => {
            vm.$message.error(`${info.file.name} file convert failed.`);
            return;
        });
        
      }
      
    },

    async handlePreview(file) {
      if (!file.url && !file.preview) {
        file.preview = await this.getBase64(file.originFileObj);
      }
      this.previewImage = file.url || file.preview;
      this.previewVisible = true;
    },
    
  },
};
</script>
