<template>
  <a-form-model ref="accForm" :rules="rules" :model="form" :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">
    <Loader v-if="isLoading" />
    <a-row>
      <a-col :span="12">
        <a-form-model-item label="Username">
          <a-input
            v-model="form.username"
            v-decorator="[
              'userName',
              { rules: [{ required: true, message: 'Please input your username!' }] },
            ]"
            placeholder="Username"
          >
            <a-icon slot="prefix" type="user" style="color:rgba(0,0,0,.25)" />
          </a-input>
          <!-- <a-input v-model="form.username" /> -->
        </a-form-model-item>
      </a-col>
      <a-col :span="12">
        <a-form-model-item label="Password">
          <a-input-password
            v-model="form.password"
            v-decorator="[
              'password',
              { rules: [{ required: true, message: 'Please input your Password!' }] },
            ]"
            type="password"
            placeholder="Password"
          >
            <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
          </a-input-password>
          <!-- <a-input v-model="form.password" /> -->
        </a-form-model-item>
      </a-col>

      <a-col :span="12">
        <a-form-model-item label="Account Type">
          <a-select v-model="form.userType" placeholder="please select account type">
            <a-select-option v-for="(sel, idx) in userTypes" :value="sel.id" :key="idx">
              {{ sel.description }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>

      <a-col :span="12">
        <a-form-model-item label="Medical Branch">
          <a-select v-model="form.branchId" placeholder="please select branch">
            <a-select-option v-for="(brn, idx) in branches" :value="brn.id" :key="idx">
              {{ brn.branchName }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
    </a-row>






  </a-form-model>
    
</template>
<script>
export default {
  data() {
    return {
      labelCol: { span: 24 },
      wrapperCol: { span: 22 },
      userTypes: [],
      branches: [],
      isLoading: false,
      form: {
        username: "",
        password: "",
        userType: "",
        branchId: "",
      },
      rules: {
        username: [
          { required: true, message: 'Please input username', trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'Please input last name', trigger: 'blur' },
          { min: 6, message: 'Password lenght must be min of 6 characters ', trigger: 'blur' },
        ],
        userType: [
          { required: true, message: 'Please select user type', trigger: 'blur' },
        ],
        branchId: [
          { required: true, message: 'Please select branch', trigger: 'blur' },
        ],
      },
    };
  },
  mounted(){
    this.getTypes().then((res) => {
      this.getBranch()
    });
  },
  methods: {
    clearForms(){
      this.form.username= ""
      this.form.password= ""
      this.form.userType = ""
      this.form.branchId= ""
    },
    async getTypes(){
      this.isLoading = false;

      const {status, data} = await this.$store.dispatch("misc/getUserTypes");

      this.userTypes = status < 300 ? data.list : [];
    },
    async getBranch(){
      const {status, data} = await this.$store.dispatch("misc/getBranches");

      this.branches = status < 300 ? data.list : [];

      this.isLoading = false;
    },
  },
};
</script>
