<template>
    <div>
        <a-descriptions title="" layout="vertical" bordered>
            <a-descriptions-item label="DATE COLLECTED">
               <a-date-picker :disabled="enableEdit" v-model="form.dateCollected" style="width: 100%;" @change="dateCollectedChange" />
               <a-input :readOnly="enableEdit" class="time_mask" placeholder="Time" v-model="form.timeCollected" />
            </a-descriptions-item>
            <a-descriptions-item  label="DATE RECEIPT">
               <a-date-picker :disabled="enableEdit" v-model="form.dateReceipt" style="width: 100%;" @change="dateReceiptChange" />
            </a-descriptions-item>
            <a-descriptions-item label="DATE AND TIME OF RESULT">
               <a-date-picker :disabled="enableEdit" v-model="form.dateTimeResult" style="width: 100%;" show-time use12-hours format="MM/DD/YYYY h:mm A" @change="dateResultChange" />
            </a-descriptions-item>


            <a-descriptions-item label="ACCESSION NUMBER">
               <a-input :readOnly="enableEdit" v-model="form.accessionNumber" />
            </a-descriptions-item>
            <a-descriptions-item label="SPECIMEN TYPE">
               <a-select style="width: 70%;" :disabled="enableEdit" v-model="form.specimenType" >
                    <a-select-option v-for="(sel, idx) in specimenType" :value="sel.value" :key="idx">
                    {{ sel.label }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="MOLECULAR TEST PERFORMED">
                <a-select style="width: 100%;" :disabled="enableEdit" v-model="form.molecularTest" >
                    <a-select-option v-for="(sel, idx) in molecTests" :value="sel" :key="idx">
                    {{ sel }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>

            <a-descriptions-item label="Well ID">
                <a-input :readOnly="enableEdit" class="allCaps" v-model="form.wellID" />
            </a-descriptions-item>
            <a-descriptions-item label="Pathologist Validation">
                <!-- <a-input :readOnly="enableEdit" v-model="form.validation1" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.validation1"
                    :data-source="results"
                    style="width: 100%"
                    class="allCaps"
                    @change="setAllValues"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Medical Technologist Validation">
                <!-- <a-input :readOnly="enableEdit" v-model="form.validation2" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.validation2"
                    :data-source="results"
                    class="allCaps"
                    style="width: 100%"
                />
            </a-descriptions-item>
            
        </a-descriptions>
        <br>
        <a-descriptions title="Laboratory Test Result" layout="horizontal" bordered>
            <a-descriptions-item label="TEST RESULT" :span="3">
                <a-select :disabled="enableEdit" style="width: 100%;" v-model="form.testResult" >
                    <a-select-option v-for="(sel, idx) in testResults" :value="sel" :key="idx">
                    {{ sel }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="Target Genes">
                <!-- <a-input :readOnly="enableEdit" class="allCaps" v-model="form.kitValue1" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.kitValue1"
                    :data-source="targetGenes"
                    style="width: 100%"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Target Genes">
                <!-- <a-input :readOnly="enableEdit" class="allCaps" v-model="form.kitValue2" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.kitValue2"
                    :data-source="targetGenes"
                    style="width: 100%"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Target Genes">
                <!-- <a-input :readOnly="enableEdit" class="allCaps" v-model="form.kitValue3" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.kitValue3"
                    :data-source="targetGenes"
                    style="width: 100%"
                />
            </a-descriptions-item>
            
            <a-descriptions-item label="Ct Values 1">
                <a-input :readOnly="enableEdit" class="allCaps" v-model="form.ctValue1" />
            </a-descriptions-item>
            <a-descriptions-item label="Ct Values 2">
                <a-input :readOnly="enableEdit" class="allCaps" v-model="form.ctValue2" />
            </a-descriptions-item>
            <a-descriptions-item label="Ct Values 3">
                <a-input :readOnly="enableEdit" class="allCaps" v-model="form.ctValue3" />
            </a-descriptions-item>
            <a-descriptions-item label="FINAL READING" :span="3">
                <!-- <a-input :readOnly="enableEdit" v-model="form.finalReading" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.finalReading"
                    :data-source="results"
                    class="allCaps"
                    style="width: 100%"
                />
            </a-descriptions-item>
            <a-descriptions-item label="FINAL RESULT" :span="3">
                <!-- <a-input :readOnly="enableEdit" v-model="form.finalResult" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.finalResult"
                    :data-source="results"
                    class="allCaps"
                    style="width: 100%"
                />
            </a-descriptions-item>
            
        </a-descriptions>
        <br>
        <a-descriptions layout="vertical" bordered>
            <a-descriptions-item label="Viral Inactivation Technique">
                <a-select :disabled="enableEdit" style="width: 100%;" v-model="form.viralTechnique" >
                    <a-select-option v-for="(sel, idx) in viralTechs" :value="sel" :key="idx">
                    {{ sel }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="Nucleic Acid Extractor Kit">
                <!-- <a-input :readOnly="enableEdit" v-model="form.nucleicAcid" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.nucleicAcid"
                    :data-source="dataSource"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Lot Number">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.lotNumber1"
                    :data-source="lotNumber1"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>

            <a-descriptions-item label="qPCR Instrument">
                <!-- <a-input :readOnly="enableEdit" class="allCaps" v-model="form.instrument" /> -->
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.instrument"
                    :data-source="instruments"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Test Kit">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.testKit"
                    :data-source="testKits"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Lot Number">
                    <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.lotNumber2"
                    :data-source="lotNumber2"
                    style="width: 100%"
                    class="allCaps"
                />
             </a-descriptions-item>
            
        </a-descriptions>
    </div>
</template>

<style scoped>
.allCaps{
    text-transform: uppercase;
}
</style>

<script>
import Inputmask from "inputmask";
import moment from 'moment';

export default {
    data(){
        return{
            form: {
                wellID:"",
                validation1:"",
                validation2:"",
                accessionNumber: "",
                dateCollected: "",
                timeCollected: "",
                dateReceipt: "",
                dateTimeResult: "",
                specimenType: "",
                molecularTest: "",

                testResult: "",
                finalReading: "",
                finalResult: "",
                kitValue1: "",
                kitValue2: "",
                kitValue3: "",
                ctValue1: "",
                ctValue2: "",
                ctValue3: "",
               

                viralTechnique: "",
                nucleicAcid: "",
                lotNumber1: "",

                instrument: "",
                testKit: [],
                lotNumber2: ""
            },

            resultRemark: "",

            molecTests: [
                "SARS-CoV-2 Detection by rRT-PCR"
            ],
            testResults: [
                "SARS-CoV-viral RNA Detected",
                "SARS-CoV-viral RNA: Not Detected",
                "Invalid due to specimen quality",
            ],
            specimenType: [
                {
                    value: "OPS",
                    label: "RT-PCR (OPS)",
                },
                {
                    value: "NPS",
                    label: "RT-PCR (NPS)",
                },
                {
                    value: "OROPHARYNGEAL AND NASOPHARYNGEAL SWAB",
                    label: "RT-PCR (OPS and NPS)",
                },
                
            ],

            viralTechs: [
                "Heat Inactivation"
            ],

            instruments: [
                "ROCHE LightCycler", 
                "AbcyclerQ",
                "MolArray",
                "BioRad"
            ],
            testKits: [
                "abTES", 
                "Maccura",
                "Uni-Medica",
                "Zybio",
                "BGI"
            ],
            dataSource: [
                'Maccura',
                'GENOLUTION',
                'BioBase',
                'MGI'
            ],
            results: [
                'POSITIVE',
                'NEGATIVE'
            ],
            targetGenes: [
                'Orf1ab',
                'RdRp',
                'NS1',
                'NS2',
                'N',
                'N2',
                'E',
                'Orf1a',
                'Orf1b'
            ],

            lotNumber1: [
                'H0204M',
                '20220216',
                'CVN153-220128-01',


            ],

            lotNumber2: [
                '3016202109086',
                '20220103'


            ],
            
        }
    },
    
    props: ["resultData", "currentStatus"],
    mounted(){
        // console.log(this.enableEdit);
        let dateMask = $('.time_mask');
        Inputmask("99:99 a{1,2}").mask(dateMask)
    },
    computed: {
        hasData(){
            return this.resultData != undefined ? true : false;
        },
        enableEdit(){
            let status = "MLIS001,MLIS003,MLIS005,MLIS00X,MLIS00R";

            if(status.includes(this.currentStatus)){
                return true;
            }

             return false;
        }
    },

    methods: {
        setAllValues(value){
            this.form.validation2 = value;
            this.form.finalReading = value;
            this.form.finalResult = value;
        },
        async loadFormData(){
            if(this.hasData){
                this.form = this.resultData;
            }
        },
        dateCollectedChange(date, dateString){
            this.form.dateCollected = dateString;
        },
        dateReceiptChange(date, dateString){
            this.form.dateReceipt = dateString;
        },
        dateResultChange(date, dateString){
            this.form.dateTimeResult = moment(dateString).format('MM/DD/YYYY h:mm A');
        },
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>