<template>
    <div>
        <a-descriptions title="Patient Information" layout="vertical" bordered>
            <a-descriptions-item label="LAST NAME">
            {{ patientData.lastName || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="FIRST NAME (AND SUFFIX)">
            {{ `${patientData.firstName} ${patientData.suffix} ` || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="MIDDLE NAME">
            {{ patientData.middleName || 'N/A'  }}
            </a-descriptions-item>

            <a-descriptions-item label="BIRTHDATE">
            {{ convertBirthDate(patientData.birthDate) || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="AGE">
            {{ patientData.age || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="SEX">
            {{ patientData.sex || 'N/A'  }}
            </a-descriptions-item>

            <a-descriptions-item label="CIVIL STATUS">
            {{ patientData.civilStatus || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="NATIONALITY">
            {{ patientData.nationality || 'N/A'  }}
            </a-descriptions-item>
            <a-descriptions-item label="OCCUPATION">
            {{ patientData.occupation || 'N/A'  }}
            </a-descriptions-item>

            <a-descriptions-item label="Works in a closed setting?" :span="3">
               <a-radio-group v-model="patientData.workSetting">
                    <a-radio value="Yes">Yes</a-radio>
                    <a-radio value="No">No</a-radio>
                    <a-radio value="Unknown">Unknown</a-radio>
                </a-radio-group>
            </a-descriptions-item>
            
            <a-descriptions-item v-for="(itm, idx) in patientData.addressesDetails" :key="idx" :label="itm.title" :span="3"> 
               <b>ADDRESS:</b> {{ `${itm.houseNo} ${itm.street} ${itm.barangay} ${itm.municipality} ${itm.province}` }} <br>
               <b>HOME PHONE No. (& AREA CODE):</b> {{ `${itm.areaCode}` || 'N/A' }}<br>
               <b>CELLPHONE No.:</b> {{ `${itm.cellNumber}` || 'N/A' }}<br>
               <b>EMAIL ADDRESS:</b> {{ `${itm.emailAddress}` || 'N/A' }}
            </a-descriptions-item>

        </a-descriptions>
        <br>
        <a-descriptions layout="horizontal"  title="Special Population (indicate further details on exposure and travel history in Part 3)" bordered>
            <a-descriptions-item label="HEALTH CARE WORKER" :span="3">
                <a-radio-group v-model="patientData.isHealthWorker">
                    <a-radio value="Yes">Yes, name of health facility {{ patientData.isHealthWorkerFacility || '_______' }} and location {{patientData.isHealthWorkerLocation || '_______'}}</a-radio>
                    <a-radio value="No">No</a-radio>
                </a-radio-group>
            </a-descriptions-item>

            <a-descriptions-item label="RETURNING OVERSEAS FILIPINO" :span="3">
                <a-radio-group v-model="patientData.isOversease">
                    <a-radio value="Yes">Yes, country of origin {{ patientData.isOverseaseOrigin || '_______' }} and Passport number {{patientData.isOverseasePassport || '_______'}}</a-radio>
                    <a-radio value="No">No</a-radio>
                </a-radio-group>
            </a-descriptions-item>
        </a-descriptions>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            form: {
                lastName: '',
                firstName: '',
                middleName: '',
                suffix: '',
                birthDate: '',
                age: '',
                sex: 'Male',
                civilStatus: 'Single',
                nationality: '',
                occupation: '',
                workSetting: '',
                
                isHealthWorker: "",
                isHealthWorkerFacility: "",
                isHealthWorkerLocation: "",

                isOversease: "",
                isOverseaseOrigin: "",
                isOverseasePassport: "",

                isForeign: "",
                isForeignOrigin: "",
                isForeignPassport: "",

                isLocalTraveler: "",
                isLocalTravelerOrigin: "",
                isIndigenous: "",
                isIndigenousGroup: "",
                isClosedSettings: "",
                isClosedSettingsType: "",
                isClosedSettingsName: "",
                addressesDetails: [
                {
                    title: "Current Address in the Philippines and Contact Information*",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                },
                {
                    title: "Current Address in the Philippines and Contact Information*  (Provide address of institution if patient lives in closed settings, see 1.5)",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                },
                {
                    title: "Permanent Address and Contact Information (if different from current address)",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                }
                ],
            },
            
        }
    },
    
    props: ["patientData"],

    methods: {
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>