<template>
    <div>
        <a-descriptions title="Case Investigation Details" bordered>
            <a-descriptions-item label="Have previous COVID-19 related consultation?" :span="3">
                <a-radio-group v-model="caseData.previousConsult">
                    <a-radio value="Yes">Yes</a-radio>
                    <a-radio value="No">No</a-radio>
                </a-radio-group>

            </a-descriptions-item>
            <a-descriptions-item label="Name of facility where first consult was done" :span="3">
                <a-input v-model="caseData.previousConsultFacility" />
            </a-descriptions-item>

            <a-descriptions-item label="Disposition at Time of Report* (Provide name of hospital/isolation/quarantine facility)" :span="3">
                <a-radio-group v-model="caseData.disposition">
                    <a-radio value="Admitted in hospital">
                        Admitted in hospital
                    </a-radio>
                    <a-radio value="Admitted in isolation/quarantine facility">
                        Admitted in isolation/quarantine facility
                    </a-radio>
                    <a-radio value="In home isolation/quarantine">
                        In home isolation/quarantine
                    </a-radio>
                    <a-radio value="Discharged to home">
                        Discharged to home
                    </a-radio>
                    <a-radio value="Others">
                        Others (Please specify)
                    </a-radio>
                </a-radio-group>

                 <a-row v-if="caseData.disposition != 'Others' && caseData.disposition != ''" >
                    <a-col style="padding: 10px;" :span="12">
                        <a-form-model-item label="Hospital/Facility">
                            <a-input v-model="caseData.dispositionLocation" />
                        </a-form-model-item>
                    </a-col>
                    <a-col style="padding: 10px;" :span="12">
                        <a-form-model-item label="Date and Time Admitted in Home/Hospital/Facility">
                            <a-input v-model="caseData.dispositionDateTime" />
                        </a-form-model-item>
                    </a-col>
                 </a-row>
                 <a-row v-if="caseData.disposition == 'Others'" >
                    <a-col style="padding: 10px;" :span="24">
                        <a-form-model-item label="Specify">
                        <a-textarea
                            v-model="caseData.dispositionOthers"
                            label="Specify"
                            :auto-size="{ minRows: 3, maxRows: 5 }"
                        />
                        </a-form-model-item>
                    </a-col>
                 </a-row>

            </a-descriptions-item>


            <a-descriptions-item label="Health Status at Consult*" :span="3">
                <a-radio-group v-model="caseData.healthStatus">
                    <a-radio value="Asymptomatic">Asymptomatic</a-radio>
                    <a-radio value="Mild">Mild</a-radio>
                    <a-radio value="Moderate">Moderate</a-radio>
                    <a-radio value="Severe">Severe</a-radio>
                    <a-radio value="Critical">Critical</a-radio>
                </a-radio-group>
            </a-descriptions-item>

            <a-descriptions-item label="Case Classification*" :span="3">
                <a-radio-group v-model="caseData.caseClassification">
                    <a-radio value="Suspect">Suspect</a-radio>
                    <a-radio value="Probable">Probable</a-radio>
                    <a-radio value="Confirmed">Confirmed</a-radio>
                    <a-radio value="Non-COVID-19 Case">Non-COVID-19 Case</a-radio>
                </a-radio-group>
            </a-descriptions-item>
            <a-descriptions-item label="Test Result Classification*" :span="3">
                <a-radio-group v-model="caseData.testResultClassification">
                    <a-radio value="OUT-PATIENT">Out-Patient</a-radio>
                    <a-radio value="IN-PATIENT">In-Patient</a-radio>
                    <a-radio value="REFERRAL">Referral</a-radio>
                </a-radio-group>

                <a-auto-complete
                    v-if="caseData.testResultClassification == 'REFERRAL' && caseData.testResultClassificationReferral != undefined"
                    :disabled="enableEdit"
                    v-model="caseData.testResultClassificationReferral"
                    :data-source="referrals"
                    style="width: 100%"
                />
            </a-descriptions-item>

            <a-descriptions-item label="Vaccination information*" :span="3">
                <a-form-model-item
                    v-for="(field, index) in caseData.vaccineInformation"
                    :key="index"
                >
                    
                    <a-input v-model="field.dateOfVaccination" placeholder="Date of vaccination"  style="width: 45%; margin-right: 8px"/>
                    <a-input v-model="field.nameOfVaccine" placeholder="Name of Vaccine"  style="width: 45%;"/>
                    <a-input v-model="field.doseOfVaccine" placeholder="Dose number (e.g. 1st, 2nd)*"  style="width: 45%; margin-right: 8px"/>
                    <a-input v-model="field.facility" placeholder="Vaccination center/facility"  style="width: 45%;"/>
                    <a-input v-model="field.region" placeholder="Region of health facility"  style="width: 45%; margin-right: 8px"/>

                    <span style="margin-right: 8px">Adverse event/s?</span>
                    <a-radio-group v-model="field.adverseEvent">
                        <a-radio value="Yes">Yes</a-radio>
                        <a-radio value="No">No</a-radio>
                    </a-radio-group>
                </a-form-model-item>

                <!-- <a-button type="dashed" style="width: 100%" @click="addVaccineInfo">
                    <a-icon type="plus" /> Add Vaccine Information
                </a-button> -->
            </a-descriptions-item>

        </a-descriptions>
        <br>
        <a-descriptions title="Clinical Information" layout="vertical" bordered>
            <a-descriptions-item label="Date of Onset of Illness (MM/DD/YYYY)*" >
                <a-input v-model="caseData.dateOfOnset" />
            </a-descriptions-item>
            <a-descriptions-item label="Signs and Symptoms (Check all that apply)" :span="2">
                <a-checkbox-group v-model="caseData.symptoms">
                    <a-checkbox v-for="(itm, idx) in symptoms" :key="idx" :value="itm" name="symptoms">
                    {{ itm }}
                    </a-checkbox>
                </a-checkbox-group>
                <a-input v-if="caseData.symptoms == 'Others, specify' || caseData.symptoms == 'Fever'" v-model="caseData.otherSymptoms" :placeholder="caseData.symptoms == 'Others, specify' ? 'Others' : 'Temperature'" />
            </a-descriptions-item>
            <a-descriptions-item label="Comorbidities (Check all that apply if present)" :span="3">
                <a-checkbox-group v-model="caseData.comorbidities">
                    <a-checkbox v-for="(itm, idx) in comorbidities" :key="idx" :value="itm" name="comorbidities">
                    {{ itm }}
                    </a-checkbox>
                </a-checkbox-group>
                <a-input v-if="caseData.comorbidities == 'Others'" v-model="caseData.otherComorbidities" class="allCaps" placeholder="Others" />
            </a-descriptions-item>

            <a-descriptions-item label="Pregnant?">
                <a-checkbox-group v-model="caseData.pregnant">
                    <a-checkbox value="Yes" name="pregnant">Yes</a-checkbox>
                    <a-checkbox value="No" name="pregnant">No</a-checkbox>
                </a-checkbox-group>
                 <a-input v-if="caseData.pregnant == 'Yes'" class="date_mask" v-model="caseData.pregnantLMP" />
            </a-descriptions-item>
            <a-descriptions-item label="High-risk pregnancy?">
                <a-checkbox-group v-model="caseData.highRiskPregnancy">
                    <a-checkbox value="Yes" name="pregnant">Yes</a-checkbox>
                    <a-checkbox value="No" name="pregnant">No</a-checkbox>
                </a-checkbox-group>
            </a-descriptions-item>
            <a-descriptions-item label="Was diagnosed to have Severe Acute Respiratory Illness?">
                <a-checkbox-group v-model="caseData.severeAcuteIllness">
                    <a-checkbox value="Yes" name="pregnant">Yes</a-checkbox>
                    <a-checkbox value="No" name="pregnant">No</a-checkbox>
                </a-checkbox-group>
            </a-descriptions-item>

           
            
            <a-descriptions-item label="Chest imaging findings suggestive of COVID-19" :span="3" ></a-descriptions-item>
            <a-descriptions-item label="Date done">
               <a-input v-model="caseData.chestFindings.dateDone" placeholder="Date done" />
            </a-descriptions-item>
            <a-descriptions-item label="Chest imaging done">
                <a-radio-group v-model="caseData.chestFindings.chestImage">
                    <a-radio  v-for="(itm, idx) in chestImaging" :key="idx" :value="itm">
                        {{ itm }}
                    </a-radio>
                </a-radio-group>
            </a-descriptions-item>
            <a-descriptions-item label="Results">
               <a-radio-group v-model="caseData.chestFindings.results">
                    <a-radio  v-for="(itm, idx) in results" :key="idx" :value="itm">
                        {{ itm }}
                    </a-radio>
                </a-radio-group>
            </a-descriptions-item>

        </a-descriptions>
        <br>
        <a-descriptions title="Laboratory Information" bordered>
            <a-descriptions-item label="Have tested positive using RT-PCR before?* " :span="3">
                <a-row>
                    <a-col :span="`${caseData.testedBefore == 'Yes' ? '12' : '24'}`">
                        <a-form-model-item label="Answer">
                        <a-select style="width: 100%;" v-model="caseData.testedBefore" placeholder="please select option">
                            <a-select-option value="Yes">
                            Yes
                            </a-select-option>
                            <a-select-option value="No">
                            No
                            </a-select-option>
                        </a-select>
                        </a-form-model-item>
                    </a-col>
                    <a-col v-show="caseData.testedBefore == 'Yes'" :span="12">
                        <a-form-model-item label="Date of specimen Collection (MM/DD/YYYY)*">
                            <a-input v-model="caseData.testedBeforeDate" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                    <a-col v-show="caseData.testedBefore == 'Yes'" :span="12">
                        <a-form-model-item label="Laboratory*">
                            <a-input v-model="caseData.testedBeforeLaboratory" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                    <a-col v-show="caseData.testedBefore == 'Yes'" :span="12">
                        <a-form-model-item label="No. of previous RT-PCR swabs done">
                            <a-input v-model="caseData.testedBeforeSwabs" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                </a-row>
            </a-descriptions-item>
        </a-descriptions>
        <a-descriptions layout="vertical" bordered>
            <a-descriptions-item :span="3">
                <a-form-model-item
                    v-for="(field, index) in caseData.laboratoryInfo"
                    :key="index"
                >
                    <a-input v-model="field.dateCollected" placeholder="Date collected*"  style="width: 30%; margin-right: 8px"/>
                    <a-input v-model="field.dateReleased" placeholder="Date released"  style="width: 30%; margin-right: 8px"/>
                    <a-input v-model="field.laboratory" placeholder="Laboratory*"  style="width: 30%; margin-right: 8px"/>
                    <br>
                    <span style="margin-right: 8px">Type of Test*</span>
                    <a-radio-group v-model="field.typeOfTest">
                        <a-radio v-for="(radio, index) in typeTests" :key="index" :value="radio">{{radio}}</a-radio>
                    </a-radio-group>
                    <a-input 
                        v-if="field.typeOfTest == 'Others' || field.typeOfTest == 'Antigen'" 
                        v-model="field.othersTypeOfTest" 
                        :placeholder="field.typeOfTest == 'Others' ? `Other Type of Test*` : `Antigen Type`"  
                        style="width: 30%; margin-right: 8px"
                    />
                    <br>
                    <span style="margin-right: 8px">Results*</span>
                    <a-radio-group v-model="field.results">
                        <a-radio v-for="(radio, index) in resultsLab" :key="index" :value="radio">{{radio}}</a-radio>
                    </a-radio-group>
                    <a-input v-if="field.results == 'Others'" v-model="field.othersResult" placeholder="Other Test Result*"  style="width: 30%; margin-right: 8px"/>
                </a-form-model-item>
            </a-descriptions-item>
        </a-descriptions>

        <a-descriptions layout="vertical" bordered>
            <a-descriptions-item label="Outcome/Condition at Time of Report*" :span="3">
                <a-radio-group v-model="caseData.outcomeTimeReport">
                    <a-radio value="Active">Active (currently admitted/isolation/quarantine)</a-radio>
                    <a-radio value="Recovered">Recovered, date of recovery (MM/DD/YYYY)* <a-input v-model="caseData.outcomeTimeReportDate" placeholder="date of recovery"  style="width: 15%;"/> </a-radio>
                    <a-radio value="Died">Died, date of death (MM/DD/YYYY)*</a-radio>
                </a-radio-group>
            </a-descriptions-item>
            <a-descriptions-item label="If died, cause of death*" :span="3">
                <a-row>
                    <a-col :span="12" style="padding-right: 8px;">
                        <a-form-model-item label="Immediate Cause">
                            <a-input v-model="caseData.ifDied[0].immediateCause" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                    <a-col :span="12" style="padding-right: 8px;">
                        <a-form-model-item label="Underlying Cause">
                            <a-input v-model="caseData.ifDied[0].underlyingCause" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                    <a-col :span="12" style="padding-right: 8px;">
                        <a-form-model-item label="Antecedent Cause">
                            <a-input v-model="caseData.ifDied[0].antecendentCause" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                    <a-col :span="12" style="padding-right: 8px;">
                        <a-form-model-item label="Contributory Conditions">
                            <a-input v-model="caseData.ifDied[0].contributoryCause" placeholder="" />
                        </a-form-model-item>
                    </a-col>
                </a-row>
            </a-descriptions-item>
        </a-descriptions>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            yesNoOptions: [
                {
                    value: 'Yes',
                    label: 'Yes',
                },
                {
                    value: 'No',
                    label: 'No',
                },
            ],
            form: {
                previousConsult: '',
                previousConsultDate: '',
                previousConsultFacility: '',

                disposition: '',
                dispositionLocation: '',
                dispositionDateTime: '',
                dispositionOthers:'',

                healthStatus: '',
                caseClassification: '',
                vaccineInformation: [
                    {
                        dateOfVaccination: '',
                        nameOfVaccine: '',
                        doseOfVaccine: '',
                        facility: '',
                        region: '',
                        adverseEvent: '',
                    }
                ],

                dateOfOnset: '',
                symptoms: [],
                comorbidities: [],
                pregnant: '',
                highRiskPregnancy: '',
                severeAcuteIllness: '',
                chestFindings: [
                    {
                        dateDone: '',
                        chestImage: '',
                        results: ''
                    }
                ],

                testedBefore: '',
                testedBeforeDate: '', 
                testedBeforeLaboratory: '', 
                testedBeforeSwabs: '', 

                laboratoryInfo: [
                    {
                        dateCollected: '',
                        dateReleased: '',
                        laboratory: '',
                        typeOfTest: '',
                        othersTypeOfTest: '',
                        results: '',
                        othersResult: ''
                    }
                ], 

                outcomeTimeReport: '',
                outcomeTimeReportDate: '',
                ifDied: [
                    {
                        immediateCause: '',
                        underlyingCause: '',
                        antecendentCause: '',
                        contributoryCause: '',
                    }
                ]
            },
            typeTests: ["RT-PCR (OPS)", "RT-PCR (NPS)", "RT-PCR (OPS and NPS)", "Antigen", "Antibody Test", "Others"],
            resultsLab: ["Pending", "Positive", "Negative", "Equivocal", "Others"],
            chestImaging: ["Chest radiography", "Chest CT", "Lung ultrasound", "None"],
            symptoms: ["Asymptomatic", "Fever", "Cough", "General weakness", "Fatigue", "Headache", "Myalgia", "Sore throat", "Coryza", "Dyspnea", "Anorexia", "Nausea", "Vomiting", "Diarrhea", "Altered Mental Status", "Anosmia (loss of smell, w/o any identified cause)", "Ageusia (loss of taste, w/o any identified cause)", "Others, specify"],
            comorbidities: ["None", "Hypertension", "Diabetes", "Heart Disease", "Lung Disease", "Gastrointestinal", "Genito-urinary", "Neurological Disease", "Cancer", "Others"],
            results: ["Normal", "Pending", "Chest radiography: Hazy opacities, often rounded in morphology, with peripheral and lower lung dist.", "Chest CT: Multiple bilateral ground glass opacities, often rounded in morphology, w/ peripheral & lower lung dist.", "Lung ultrasound: Thickened pleural lines, B lines, consolidative patterns with or without air bronchograms", "Other findings"],
            referrals: [
                'NEDHI',
                'ICMC',
                'PMC',
                'TGH',
                'CHO',
                'PDOH',
                'GDH',
                'GMCH',
                'SDH',
                'SADH',
                'BDH',
                'PHO',
                'GTMCH',
                'SJCGH',
                'GCHO'

            ],
            // symptoms: ["Asymptomatic", "Fever", "Cough", "General weakness", "Fatigue", "Headache", "Myalgia", "Sore throat", "Coryza", "Dyspnea", "Anorexia", "Nausea", "Vomiting", "Diarrhea", "Altered Mental Status", "Anosmia (loss of smell, w/o any identified cause)", "Ageusia (loss of taste, w/o any identified cause)", "Others, specify"],
            // comorbidities: ["None", "Hypertension", "Diabetes", "Heart Disease", "Lung Disease", "Gastrointestinal", "Genito-urinary", "Neurological Disease", "Cancer", "Others"],
            // results: ["Normal", "Pending", "Chest radiography: Hazy opacities, often rounded in morphology, with peripheral and lower lung dist.", "Chest CT: Multiple bilateral ground glass opacities, often rounded in morphology, w/ peripheral & lower lung dist.", "Lung ultrasound: Thickened pleural lines, B lines, consolidative patterns with or without air bronchograms", "Other findings"],
        }
    },
    
    props: ["caseData"],

    computed: {
        hasData(){
            return this.caseData != undefined ? true : false;
        }
    },


    methods: {
        loadFormData(){
            if(this.hasData){
                this.form = this.caseData;
            }
        },
        findingsTitle(data){
            const res ="";
            console.log(data)
        },
        removeVaccineInfo(item) {
            let index = this.form.vaccineInformation.indexOf(item);
            if (index !== -1) {
                this.form.vaccineInformation.splice(index, 1);
            }
        },
        addVaccineInfo() {
            this.form.vaccineInformation.push({
                dateOfVaccination: '',
                nameOfVaccine: '',
                doseOfVaccine: '',
                facility: '',
                region: '',
                adverseEvent: '',
            });
        },
        removeChestFind(item) {
            let index = this.form.chestFindings.indexOf(item);
            if (index !== -1) {
                this.form.chestFindings.splice(index, 1);
            }
        },
        addChestFind() {
            this.form.chestFindings.push({
                dateDone: '',
                chestImage: '',
                results: ''
            });
        },
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>