<template>
    <div>
        <a-descriptions layout="horizontal"  title="Contact Tracing: Exposure and Travel History" bordered>
            <a-descriptions-item :label="historyTitle" :span="3">
                <a-radio-group v-model="tracingData.hasHistoryExposure">
                    <a-radio value="Yes">Yes</a-radio>
                    <a-radio value="No">No</a-radio>
                    <a-radio value="Unknown">Unknown</a-radio>
                </a-radio-group>
            </a-descriptions-item>
            <a-descriptions-item :label="hasPatientTitle" :span="3">
                <a-radio-group v-model="tracingData.hasSignSymptoms">
                    <a-radio value="Yes">Yes</a-radio>
                    <a-radio value="No">No</a-radio>
                    <a-radio value="Unknown">Unknown</a-radio>
                </a-radio-group>
            </a-descriptions-item>

        </a-descriptions>

        <a-descriptions layout="vertical" bordered>
            <a-descriptions-item label="If International Travel, country of origin">
                {{ tracingData.isInternationalTravel || 'N/A' }}
            </a-descriptions-item>
            <a-descriptions-item label="Inclusive travel dates:">
                {{ `${moment(tracingData.travelDate[0]).format('M/D/YYYY')} - ${moment(tracingData.travelDate[1]).format('M/D/YYYY')}` || 'N/A' }}
            </a-descriptions-item>
            <a-descriptions-item label="With ongoing COVID-19 community transmission?">
                {{ tracingData.withCommunityTransmission || 'N/A' }}
            </a-descriptions-item>

            <a-descriptions-item label="Airline/Sea vessel">
                {{ tracingData.vessel || 'N/A' }}
            </a-descriptions-item>
            <a-descriptions-item label="Flight/Vessel Number">
                {{ tracingData.vesselNumber || 'N/A' }}
            </a-descriptions-item>
            <a-descriptions-item label="Date of departure & Date of Arrival (MM/DD/YYYY)">
                {{ tracingData.dateOfDeparture || 'N/A' }} - {{ tracingData.dateOfArrival || 'N/A' }}
            </a-descriptions-item>
        </a-descriptions>
        <br>
        <a-descriptions layout="horizontal"  title="If Local Travel" bordered>
            <a-descriptions-item v-for="(field, index) in tracingData.placeVisited" :key="index" label="Specify travel places" :span="3">
                Place Visited: <b>{{ field.placeVisit || 'N/A' }}</b> <br>
                Place Name: <b>{{ field.placeName || 'N/A'}}</b> <br>
                Place Address: <b>{{ field.placeAddress || 'N/A'}}</b> <br>
                Travel Dates: <b>{{ `${moment(field.travelDate[0]).format('M/D/YYYY')} - ${moment(field.travelDate[1]).format('M/D/YYYY')}` || 'N/A'}}</b> <br>
                With ongoing COVID-19 community transmission?: <b>{{ field.communityTransmission || 'N/A'}}</b>
            </a-descriptions-item>

        </a-descriptions>
        <a-descriptions layout="vertical" bordered>
            <a-descriptions-item :label="namesTitle" :span="3">
                <div v-for="(field, index) in tracingData.contactTrace" :key="index">
                    Name: <b>{{ field.name }}</b> - Contact Number: <b>{{ field.contactNumber }}</b> <br>
                </div>
            </a-descriptions-item>

        </a-descriptions>

    </div>
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            historyTitle: 'History of exposure to known probable and/or confirmed COVID-19 case 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection?',
            hasPatientTitle: 'Has the patient been in a place with a known COVID-19 transmission 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection?',
            namesTitle: "- If symptomatic, provide names and contact numbers of persons who were with the patient two days prior to onset of illness until this date - If asymptomatic, provide names and contact numbers of persons who were with the patient on the day specimen was submitted for testing until this date",
            form: {
                hasHistoryExposure: '',
                hasSignSymptoms: '',
                isInternationalTravel: '',
                travelDate: '',
                withCommunityTransmission: '',
                vessel: '',
                vesselNumber: '',
                dateOfDeparture: '',
                dateOfArrival: '',
                
                placeVisited: [
                    {
                        placeVisit: '',
                        placeName: '',
                        placeAddress: '',
                        travelDate: '',
                        communityTransmission: '',
                    }
                ],
                contactTrace: [
                    {
                        name: '',
                        contactNumber: ''
                    }
                ]
            },
        }
    },
    
    props: ["tracingData"],

    methods: {
        moment,
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>