<template>
  <a-descriptions layout="vertical" bordered>
    <a-descriptions-item label="DISEASE REPORTING UNIT">
      {{ interviewData.drUnit || 'N/A'  }}
    </a-descriptions-item>
    <a-descriptions-item label="DRU REGION">
      {{ interviewData.druRegion || 'N/A'  }}
    </a-descriptions-item>
    <a-descriptions-item label="PHILHEALTH NUMBER">
      {{ interviewData.philHealth || 'N/A'  }}
    </a-descriptions-item>

    <a-descriptions-item label="NAME OF INTERVIEWER">
      {{ interviewData.interviewerName || 'N/A'  }}
    </a-descriptions-item>
    <a-descriptions-item label="CONTACT NUMBER OF INTERVIEWER">
      {{ interviewData.interviewerContact || 'N/A'  }}
    </a-descriptions-item>
    <a-descriptions-item label="DATE OF INTERVIEW">
      {{ interviewData.interviewDate || 'N/A' }}
    </a-descriptions-item>

    <a-descriptions-item label="NAME OF INFORMANT">
      {{ interviewData.informant || 'N/A' }}
    </a-descriptions-item>
    <a-descriptions-item label="RELATIONSHIP">
      {{ interviewData.relationship || 'N/A'  }}
    </a-descriptions-item>
    <a-descriptions-item label="CONTACT NUMBER OF INFORMANT">
      {{ interviewData.informantContact || 'N/A'  }}
    </a-descriptions-item>
    
    <a-descriptions-item label="IF EXISTING CASE" :span="3">
        <a-checkbox-group v-model="interviewData.ifCaseExists">
            <a-checkbox v-for="(itm, idx) in typecases"  :key="idx" :value="itm" name="casetype">
              {{ itm }}
            </a-checkbox>
        </a-checkbox-group>
    </a-descriptions-item>

    <a-descriptions-item label="CLIENT TYPE" :span="2">
        <a-checkbox-group v-model="interviewData.clientType">
            <a-checkbox value="COVID-19 Case (Suspect, Probable, or Confirmed)" name="type">
              COVID-19 Case (Suspect, Probable, or Confirmed) 
            </a-checkbox>
            <a-checkbox value="Close Contact " name="type">
              Close Contact 
            </a-checkbox>
            <a-checkbox value="For RT-PCR Testing (Not a Case of Close Contact)" name="type">
              For RT-PCR Testing (Not a Case of Close Contact)
            </a-checkbox>
        </a-checkbox-group>
    </a-descriptions-item>
    
  </a-descriptions>
</template>

<script>
export default {
    data(){
        return{
            form: {
                drUnit: '',
                druRegion: '',
                philHealth: '',
                interviewerName: '',
                interviewerContact: '',
                interviewDate: '',
                informant: '',
                relationship: '',
                informantContact: '',
                ifCaseExists: [],
                clientType: [],
                testingCategory: '',
            },
            typecases: [ 
                "Not applicable (New case)", 
                "Not applicable (Unknown)", 
                "Update symptoms", 
                "Update health status", 
                "Update outcome", 
                "Update case classification", 
                "Update lab result", 
                "Update chest imaging findings", 
                "Update disposition", 
                "Update exposure / travel history", 
                "Others, specify:"
            ],
        }
    },
    
    props: ["interviewData"],
    
}
</script>