<template>
    <div>
        <a-descriptions title="" layout="vertical" bordered>
            <a-descriptions-item label="ACCESSION NUMBER">
               <a-input v-model="form.accessionNumber" />
            </a-descriptions-item>
            <a-descriptions-item label="SPECIMEN TYPE">
               <a-select style="width: 70%;" :disabled="enableEdit" v-model="form.specimenType" >
                    <a-select-option v-for="(sel, idx) in specimenType" :value="sel.value" :key="idx">
                    {{ sel.label }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="MOLECULAR TEST PERFORMED">
                <a-select style="width: 100%;" :disabled="enableEdit" v-model="form.molecularTest" >
                    <a-select-option v-for="(sel, idx) in molecTests" :value="sel" :key="idx">
                    {{ sel }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
        </a-descriptions>

        <a-descriptions title="" layout="vertical" bordered>
            <a-descriptions-item label="Well ID">
               <a-input v-model="form.wellID" />
            </a-descriptions-item>
            <a-descriptions-item label="Validation 1">
               <a-input v-model="form.validation1" />
            </a-descriptions-item>
            <a-descriptions-item label="Validation 2">
               <a-input v-model="form.validation2" />
            </a-descriptions-item>
        </a-descriptions>
        <br>
        <a-descriptions title="Laboratory Test Result" layout="horizontal" bordered>
            <a-descriptions-item label="TEST RESULT" :span="3">
                <a-select :disabled="enableEdit" style="width: 100%;" v-model="form.testResult" >
                    <a-select-option v-for="(sel, idx) in testResults" :value="sel" :key="idx">
                    {{ sel }}
                    </a-select-option>
                </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="Ct Values 1">
                <a-input :readOnly="enableEdit" v-model="form.ctValue1" />
            </a-descriptions-item>
            <a-descriptions-item label="Ct Values 2">
                <a-input :readOnly="enableEdit" v-model="form.ctValue2" />
            </a-descriptions-item>
        </a-descriptions>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            form: {
                wellID:"",
                validation1:"",
                validation2:"",
                accessionNumber: "",
                dateCollected: "",
                dateReceipt: "",
                dateTimeResult: "",
                specimenType: "",
                molecularTest: "",

                testResult: "",
                ctValue1: "",
                ctValue2: "",

                viralTechnique: "",
                nucleicAcid: "",
                lotNumber1: "",

                instrument: "",
                testKit: "",
                lotNumber2: ""
            },

            resultRemark: "",

            molecTests: [
                "SARS-CoV-2 Detection by rRT-PCR"
            ],
            testResults: [
                "SARS-CoV-viral RNA Detected",
                "SARS-CoV-viral RNA: Not Detected",
                "Invalid due to specimen quality",
            ],
            specimenType: [
                {
                    value: "OPS",
                    label: "RT-PCR (OPS)",
                },
                {
                    value: "NPS",
                    label: "RT-PCR (NPS)",
                },
                {
                    value: "OROPHARYNGEAL AND NASOPHARYNGEAL SWAB",
                    label: "RT-PCR (OPS and NPS)",
                },
                
            ],

            viralTechs: [
                "Heat Inactivation"
            ],

            instruments: [
                "ROCHE LightCycler", 
                "AbcyclerQ"
            ],
            testKits: [
                "abTES", 
                "Melccura"
            ]
            
        }
    },
    
    props: ["resultData", "currentStatus"],
    mounted(){
        // console.log(this.enableEdit);
    },
    computed: {
        hasData(){
            return this.resultData != undefined ? true : false;
        },
        enableEdit(){
            if(this.currentStatus == 'MLIS00X' || this.currentStatus == 'MLIS00R'){
                return true;
            } else {
                return false;
            }
        }
    },

    methods: {
        async loadFormData(){
            if(this.hasData){
                this.form = this.resultData;
            }
        },
        dateCollectedChange(date, dateString){
            this.form.dateCollected = dateString;
        },
        dateReceiptChange(date, dateString){
            this.form.dateReceipt = dateString;
        },
        dateResultChange(date, dateString){
            this.form.dateTimeResult = moment(dateString).format('MM/DD/YYYY h:mm A');
        },
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>