<template>
  <a-form-model layout="vertical" :model="formInline" @submit="handleSubmit" @submit.native.prevent>
    <a-form-model-item>
      <a-input v-model="formInline.username" placeholder="Username">
        <a-icon slot="prefix" type="user" style="color:rgba(0,0,0,.25)" />
      </a-input>
    </a-form-model-item>
    <a-form-model-item>
      <a-input v-model="formInline.password" type="password" placeholder="Password">
        <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
      </a-input>
    </a-form-model-item>
    <a-form-model-item>
      <a-button
        type="primary"
        html-type="submit"
        :disabled="formInline.user === '' || formInline.password === ''"
        :loading="isClickLog"
      >
        {{ loginText }}
      </a-button>
    </a-form-model-item>
  </a-form-model>
</template>
<script>
export default {
  data() {
    return {
      isClickLog: false,
      loginText: 'Log in',
      formInline: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    handleSubmit(e) {
      this.isClickLog = true;
      this.loginText = 'Logging In...';
      let payload = this.formInline;
      
      this.$store.dispatch("auth/loginAccount", payload).then(({ data, status }) => {

        if(status < 300) {
          
          payload.username = '';
          payload.password = '';
          localStorage.setItem("token", data.jwt)
          this.$router.push('/dashboard')
          
        } else {
          
          this.$notification['error']({
            message: data.title,
            description:data.message,
            placement:'topLeft'
          });
        }

        this.loginText = 'Log in';
        this.isClickLog = false;

      });
    },
  },
};
</script>