<template>
    <!-- <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="() => (collapsed = !collapsed)"
        />
        
        
    </a-layout-header> -->
    <a-page-header 
        :title="`${userData.firstName} ${userData.suffix} ${userData.lastName}`" 
        :sub-title="userData.branch.branchName"
        style="border: 1px solid rgb(235, 237, 240); background-color: white;"
    >
        <template slot="tags">
            <a-tag color="blue">{{userData.branch.branchLocation}}</a-tag>
        </template>

        <template slot="extra">
            
            <a-button @click="logout" key="1" type="danger">
                <a-icon type="poweroff" /> Logout
            </a-button>
        </template>

        <!-- <a-row type="flex">
            <a-statistic title="Department" value="Test Department" />
            <a-statistic
            title="Hospital"
            value="Test Hospital"
            :style="{
                margin: '0 32px',
            }"
            />
        </a-row> -->
    </a-page-header>
</template>
<script>
export default {
    data:() => {
        return {
            curPage: '',
            avatar: '',
            userData: {
                branch: {
                    branchName: "",
                    branchLocation: ""
                }
            }
        }
    },
    mounted(){
        this.loadDataHeader();
    },
    methods:{
        async loadDataHeader(){
            let payload = {
                id: this.$decoder.decode().userId
            }

            const {status, data} = await this.$store.dispatch("user/getUserInfoById", payload);
            
            this.curPage = this.$route.name;
            this.userData = status < 300 ? data : [];
        },
        logout(){
            localStorage.clear()
            this.$router.push('/')
        }
    },
}
</script>