
<template>
        <a-layout-sider 
            theme="light"
            :trigger="null" 
            breakpoint="md"
            collapsed-width="80"
            @collapse="onCollapse"
            @breakpoint="onBreakpoint" 
            :collapsible="true"
        >
                
            <div v-if="!collapsableMenu" class="logo">
                <img src="~/static/img/header.jpg" width="100%" height="32px" />
            </div>
            <div v-if="collapsableMenu" class="logo" style="text-align: center; padding: 5px;">
                <img src="~/static/img/logo.jpg" width="80%" />
            </div>
            <div style="margin-bottom: 10px; margin-top: 10px;">
                <a-button type="primary" icon="lock" @click="showChangePass" block>
                    Change Password
                </a-button>

                <a-drawer
                    title="Change User Password"
                    placement="right"
                    :closable="false"
                    :visible="visible"
                    :width="420"
                    @close="onClose"
                >
                    <a-form-model layout="vertical" :model="passComponent" @submit="changePass" @submit.native.prevent>
                        <a-form-model-item>
                            <a-input 
                                v-model="passComponent.newPassword"
                                type="password"
                                placeholder="New Password"
                            >
                                <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
                            </a-input>
                        </a-form-model-item>
                        <a-form-model-item>
                            <a-input 
                                v-model="passComponent.confirmPassword" 
                                type="password" 
                                placeholder="Confirm New Password"
                                @change="checkPassword"
                            >
                                <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
                            </a-input>
                        </a-form-model-item>
                        <a-form-model-item>
                            <a-button
                                type="primary"
                                html-type="submit"
                                :disabled="checkPassword() || passComponent.newPassword === '' || passComponent.confirmPassword === ''"
                                :loading="isLoading"
                            >
                               {{passChangeText}}
                            </a-button>
                        </a-form-model-item>
                    </a-form-model>
                </a-drawer>
            </div>
            <a-input-search v-if="!collapsableMenu" placeholder="Search Menu" style="width: 100%;" v-model="menuSearch" />

            <a-menu  mode="inline" :default-selected-keys="['101']" >

                <template v-for="(link, idx) of filterMenu">

                    <a-menu-item v-if="!link.children && checkModule(link.module)" :key="link.module">
                        <nuxt-link
                            tag="a"
                            :to="link.path"
                        >
                            <a-icon :type="link.icon" />
                            <span>{{ link.label }}</span>
                        </nuxt-link>
                    </a-menu-item>

                    <a-sub-menu v-if="link.children && checkModule(link.module)" :key="link.module">
                        <span slot="title"><a-icon :type="link.icon" /><span>{{ link.label }}</span></span>
                        
                        <template v-for="item in link.children">
                            <a-menu-item :key="item.module" v-if="checkModule(item.module)">
                                <nuxt-link
                                    tag="a"
                                    :to="item.path"
                                >
                                    <a-icon :type="item.icon" />
                                    <span>{{ item.label }}</span>
                                </nuxt-link>
                            </a-menu-item>
                        </template>
                    </a-sub-menu>
                    <!-- <a-sub-menu  v-if="link.children" :key="link.module">
                        <span slot="title"><a-icon :type="link.icon" /><span>{{ link.label }}</span></span>

                        <a-menu-item v-for="(link, idx) of link.children" :key="link.module">
                            <nuxt-link
                                tag="a"
                                :to="link.path"
                            >
                                <a-icon :type="link.icon" />
                                <span>{{ link.label }}</span>
                            </nuxt-link>
                        </a-menu-item>
                    </a-sub-menu> -->

                </template>
            </a-menu>
        </a-layout-sider>
</template>

<style scoped>
.logo{
    height: 64px !important;
}
</style>

<script>
export default {
    data:() => ({
        active: 'Dashboard',
        isLoading: false,
        visible: false,
        collapsableMenu: false,
        menuSearch: '',
        passComponent: {
            id: "",
            oldPassword: "",
            newPassword: "",
            confirmPassword: "",
        },
        passChangeText: "Confirm Change",
        links: [
            {
                module: "101",
                path: "/dashboard",
                label: "Dashboard",
                id: "Dashboard",
                icon: "user",
            },

            {
                module: "102",
                path: "/users",
                label: "User Management",
                id: "users",
                icon: "team",
                children: [
                    {
                        module: "1021",
                        path: "/users/manage",
                        label: "Manage Users",
                        id: "users-manage",
                        icon: "solution",
                    },
                    {
                        module: "1022",
                        path: "/users/addusers",
                        label: "Add User",
                        id: "users-addusers",
                        icon: "user-add",
                    },
                ]
            },

            {
                module: "103",
                path: "/forms",
                label: "Molecular Forms",
                id: "forms",
                icon: "reconciliation",
                children: [
                    {
                        module: "1031",
                        path: "/forms/caseinvestigation",
                        label: "Case Investigation",
                        id: "forms-caseinvestigation",
                        icon: "form",
                    },
                    {
                        module: "1032",
                        path: "/forms/searchCase",
                        label: "Search Record",
                        id: "forms-searchcase",
                        icon: "form",
                    },
                ]
            },

            {
                module: "104",
                path: "/specimen",
                label: "Specimen Management",
                id: "specimen",
                icon: "reconciliation",
                children: [
                    {
                        module: "1041",
                        path: "/specimen/pendingList",
                        label: "Pendings",
                        id: "specimen-pendinglist",
                        icon: "hourglass",
                    },
                    {
                        module: "1042",
                        path: "/specimen/ongoing",
                        label: "My Ongoing",
                        id: "specimen-ongoing",
                        icon: "folder-open",
                    },
                    {
                        module: "1043",
                        path: "/specimen/verification",
                        label: "For Verification",
                        id: "specimen-verification",
                        icon: "check",
                    },
                    {
                        module: "1044",
                        path: "/specimen/encoding",
                        label: "For Encoding",
                        id: "specimen-encoding",
                        icon: "code",
                    },
                    {
                        module: "1045",
                        path: "/specimen/forapproval",
                        label: "For Approvals",
                        id: "specimen-forapproval",
                        icon: "like",
                    },
                    {
                        module: "1046",
                        path: "/specimen/rejected",
                        label: "Invalids",
                        id: "specimen-rejected",
                        icon: "issues-close",
                    },
                    {
                        module: "1047",
                        path: "/specimen/receiving",
                        label: "Receiving",
                        id: "specimen-receiving",
                        icon: "check",
                    },
                    {
                        module: "1048",
                        path: "/specimen/preEncode",
                        label: "Pre-Encodes",
                        id: "specimen-preencode",
                        icon: "check",
                    },
                    {
                        module: "1049",
                        path: "/specimen/antigenApproval",
                        label: "Antigen Approval",
                        id: "specimen-antigenapproval",
                        icon: "check",
                    },
                    {
                        module: "1410",
                        path: "/specimen/antigenEncoder",
                        label: "Encode Antigen",
                        id: "specimen-antigenencoder",
                        icon: "check",
                    },
                    
                ]
            },

            {
                module: "105",
                path: "/release",
                label: "Releasing",
                id: "realese",
                icon: "container",
                children: [
                    {
                        module: "1051",
                        path: "/release/releaseresult",
                        label: "Release Result",
                        id: "release-releaseresult",
                        icon: "file-pdf",
                    },
                    {
                        module: "1052",
                        path: "/release/antigenReleasing",
                        label: "Release Antigen",
                        id: "release-antigenreleasing",
                        icon: "check",
                    },
                ]
            },

            {
                module: "106",
                path: "/reports",
                label: "Reports",
                id: "reports",
                icon: "file-search",
                children: [
                    {
                        module: "1061",
                        path: "/reports/cifreports",
                        label: "CIF Reports",
                        id: "reports-cifreports",
                        icon: "file-excel",
                    },
                ]
            },


        ]
    }),

    props: ["collapsedMenu"],

    methods:{
        async changePass(){
            let vm = this;
            this.passChangeText = 'Changing Password...';
            this.isLoading = true;
            
            this.passComponent.id = this.userData.userId;
            let payload = this.passComponent;

            this.$store.dispatch("user/userChangePassword", payload).then(({ data, status }) => {

                if(status < 300) {
                    this.$notification['success']({
                        message: data.title,
                        description:data.message,
                        placement:'topRight'
                    });

                    localStorage.clear();
                    this.$router.push('/')
                } else {
                    this.$notification['error']({
                        message: data.title,
                        description:data.message,
                        placement:'topRight'
                    });
                }

            });

            this.passChangeText = 'Confirm Change';
            this.isLoading = false;
        },
        checkPassword(){
            if(this.passComponent.newPassword != this.passComponent.confirmPassword || this.passComponent.confirmPassword != this.passComponent.newPassword){
                return true;
            }

            return false;
        },
        showChangePass() {
            this.visible = true;
        },
        onClose() {
            this.visible = false;
        },
        logout(){
            if(process.browser){
                localStorage.clear();
                this.$router.push('/')
            }
        },
        onCollapse(collapsed, type) {
            this.collapsableMenu = collapsed
        },
        onBreakpoint(broken) {
            
        },
        checkModule(id) {
            return this.userData.modules.includes(id) ? true : false;
        },
    },

    computed: {
        roleLinks() {
            return this.links;
        },
        filterMenu(){
            return this.links.filter(menu => {

                return menu.label.toLowerCase().includes(this.menuSearch.toLowerCase())
                
            })
        },
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        }
    },
    
    
}
</script>
        