<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            title="Export Case Investigation Reports"
            sub-title="Exports patient records and results"
        >
            <template slot="extra">
              <a-button type="primary">
                <download-excel 
                  :fetch="exportReport"
                  :fields="jsonFields" 
                  :name="generatedName"
                  :before-generate="openLoading"
                >
                  Export Report
                </download-excel>
              </a-button>
            </template>
          <a-row class="content">
            Report Date Range<br/>
            <a-range-picker @change="onChange" /><br/>
            Report Type<br/>
            <a-select v-model="exportStatus" style="width: 360px;" >
              <a-select-option value="MLIS00X">
                RTPCR Test
              </a-select-option>
              <a-select-option value="MLISAT00X">
                Antigen Test
              </a-select-option>
            </a-select>
          </a-row>
        </a-page-header>
        <Loader v-if="isLoading" />
    </div>
</template>

<script>
import fieldObj from './jsonField.js';

export default {
    data: () => ({
      exportStatus: 'MLIS00X',
      size: 'medium',
      isLoading: false,
      dateFrom: '',
      dateTo: '',
      jsonData: null,
      generatedName: '',
      jsonFields: {
        "ReferenceId":"referenceId",
        "SpecimentId":"specimenId",
        "LastName":"lastName" ,
        "FirstName":"firstName" ,
        "MiddleName":"middleName",
        "BirthDate":"birthDate",
        "Sex":"sex",
        "PatientProvince":"province",
        "PatientCityMunicipality":"municipality",
        "PatientBarangay":"barangay",
        "SpecimenHealthFacility":"facility", 
        "DateOnsetOfIllness":"dateOnset",
        "DateSpecimentCollection":"dateOfCollection",
        "DateSpecimenReceived":"dateOfReceipt",
        "DateResultReleased":"dateOfRelease",
        "SpecimenType":"specimenType",
        "SpecimenNumber":"specimenNumber" ,
        "Results":"results",
        "Remarks":"remarks",
        "PatientStreetHouseNumber":"street",
        "PatientContactNumber":"contact",
        "HealthStatus":"healthStatus",
        "ROF":"rof",
        "TypeOfTest":"typeOfTest",
        "CLASSIFICATION":"classification",
        "PASSPORT":"passport",
        "BirthDates":"birthDate",
        "Age":"age",
        "NS1":"ns1",
        "NS2":"ns2",
        "NS3":"ns3",
        "FINAL RESULT":"finalResult",
        "testKit":"testKit"
      }
    }),
    computed:{
      userData(){
          return this.$decoder.decode(localStorage.getItem('token'))
      }
    },
    methods: {
      onChange(date, dateString) {
        this.dateFrom = dateString[0]
        this.dateTo = dateString[1]
      },
      async exportReport(){
          this.isLoading = true;
          let json_data = [];

          if(this.dateFrom == '' || this.dateTo == ''){
            this.$notification['error']({
                message: 'Export Report',
                description: 'Please select date range or specific date to be exported!',
            });
            this.isLoading = false;
            return false
          }

          this.jsonFields = this.exportStatus === 'MLIS00X' ? fieldObj.rtpcFields : fieldObj.antiGenFields;

          let payload = {
            status: this.exportStatus,
            dateFrom: this.dateFrom,
            dateTo: this.dateTo,
          }

          let apiEndpoint = this.exportStatus === 'MLIS00X' ? "misc/generateReport" : "misc/generateReportAntigen";

          const {status, data} = await this.$store.dispatch(apiEndpoint, payload);

          json_data = status < 300 ? data.list : [];
          json_data.sort((a,b)=> (a.specimenId > b.specimenId ? 1 : -1));
          let generateFilename = this.exportStatus === 'MLIS00X' ? 
          `CIF_Reports_${this.dateFrom}_to_${this.dateTo}` :
          `Antigen_Reports_${this.dateFrom}_to_${this.dateTo}`;
          this.generatedName = generateFilename;

          this.isLoading = false;

          return json_data;
      },
    },
};
</script>