<template>
    <div>
        <div style="backgound: white;">
          <a-steps :current="current">
              <a-step v-for="item in formSteps" :key="item.title" :status="item.status" :title="item.title">
              <a-icon slot="icon" :type="item.icon" />
              </a-step>
          </a-steps>
        </div>
        <div class="steps-content" style="overflow:auto !important; padding: 20px; max-height: 500px; text-align: left !important;">
            <div v-show="current == 0">
              <UsersUserAccount ref="userAccount" />
            </div>
            <div v-show="current == 1">
              <UsersUserInformation ref="userInfo" />
            </div>
            <div v-show="current == 2">
              <Loader v-show="isLoading" />
              <UsersMessage v-show="!isLoading" :title.sync="msgTitle" :subTitle.sync="msgSubTitle" :status.sync="msgStatus" />
            </div>
        </div>

        <div class="steps-action">
        <a-button v-if="current < steps.length - 1" type="primary" @click="next">
          Next Step
        </a-button>
        <a-button
            v-if="current == steps.length - 1 && msgStatus != 'success'"
            type="primary"
            @click="submitForms"
        >
          Register User
        </a-button>
        <a-button
            v-if="current != 0 && msgStatus == 'success'"
            type="primary"
            @click="backToRegister"
        >
          Done
        </a-button>
        <a-button v-if="current > 0" style="margin-left: 8px" @click="prev">
          Previous
        </a-button>
        </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
      isLoading: false,
      msgTitle: 'Confirmation',
      msgSubTitle: 'Are you sure you want to insert this user?',
      msgStatus: 'info',
      current: 0,
      dataResult:{},
      formData:{},
      steps: [
        {
          title: 'Account Detials',
          status: 'process',
          icon: 'book'
        },
        {
          title: 'Account Information',
          status: 'wait',
          icon: 'file-protect'
        },
        {
          title: 'Submit Account',
          status: 'wait',
          icon: 'check-circle'
        },
      ],

    };
  },

  computed: {
    formSteps() {
      return this.steps;
    }
  },

  methods: {
    next() {
      this.current++;
      this.steps[this.current].status = 'process';
    },
    prev() {
      this.steps[this.current].status = 'wait';
      this.current--;
    },
    backToRegister(){
      this.current = 0;
      this.steps[0].status = 'process';
      this.steps[1].status = 'wait';
      this.steps[2].status = 'wait';
      this.$refs.userAccount.clearForms();
      this.$refs.userInfo.clearForms();
      this.msgTitle  = 'Confirmation'
      this.msgSubTitle = 'Are you sure you want to insert this user?'
      this.msgStatus = 'info'
    },
    async submitForms(){
      let vm = this;
      this.isLoading = true;
      
      let payload = {
        ...this.$refs.userAccount.form,
        ...this.$refs.userInfo.form,
      };

      this.$store.dispatch("user/createUser", payload).then(({ data, status }) => {

        if(status < 300) {
          this.steps[this.current].status = 'finish';
          this.$nextTick(() => this.$refs.userAccount.clearForms());
          this.$nextTick(() => this.$refs.userInfo.clearForms());
          this.msgTitle = data.title;
          this.msgSubTitle = data.message;
          this.msgStatus = 'success';
        } else {
          this.steps[this.current].status = 'error';
          this.msgTitle = 'Submission Failed';
          this.msgSubTitle = data.message;
          this.msgStatus = 'error';
        }

      });

      this.isLoading = false;

    }

  },

  created(){
    // this code reserved for changing of status 
    // this.steps[this.current].icon = 'loading';
    // console.log(this.steps[this.current])
  }
};
</script>
<style scoped>

.ant-col * {
    padding-left: 5px;
    padding-right: 5px;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #d4c9c92e !important;
  min-height: 200px;
  text-align: center;
  padding-top: 50px !important;
}

.steps-action {
  margin-top: 24px;
}
</style>