<template>
    <div>
      <Loader v-if="isLoading" />

      <a-table v-show="!isLoading" :columns="columns" :data-source="data">
          <a slot="username" slot-scope="text">{{ text }}</a>
          <span slot="usernameSlot"> Username</span>
          <a slot="name" slot-scope="text">{{ text }}</a>
          <span slot="customTitle"> Name</span>
          <span slot="stats" slot-scope="stats">
            <a-tag
                :color="stats == 1 ? 'green' : 'red'"
            >
                {{ stats == 1 ? 'Active' : 'Deactive' }}
            </a-tag>
          </span>
          
          <span slot="action" slot-scope="text, record">
              <!-- <a @click="showDetails(record)"><a-icon type="edit" /></a>
              <a-divider type="vertical" /> -->
              <a-popconfirm
                :title="`Are you sure you want to reset the password of this user?`"
                ok-text="Yes"
                cancel-text="No"
                @confirm="resetPassword(record)"
                @cancel="cancel"
              >
                <a-icon type="unlock" />
              </a-popconfirm>
              <!-- <a-divider type="vertical" />
              <a-popconfirm
                :title="`Are you sure ${ record.status == 1 ? 'Deactivate' : 'Activate' } this task?`"
                ok-text="Yes"
                cancel-text="No"
                @confirm="showDetails(record.status == 1 ? 'Active' : 'Deactive')"
                @cancel="cancel"
              >
                <a-icon type="poweroff" />
              </a-popconfirm> -->
          </span>
      </a-table>
    </div>
</template>
<script>
const columns = [
  {
    dataIndex: 'username',
    key: 'username',
    slots: { title: 'usernameSlot' },
    scopedSlots: { customRender: 'Username' },
  },
  {
    dataIndex: 'firstName',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Email',
    dataIndex: 'email',
    key: 'email',
  },
  {
    title: 'Contact',
    dataIndex: 'contact',
    key: 'contact',
  },
  {
    title: 'User Type',
    dataIndex: 'userType',
    key: 'userType',
  },
  {
    title: 'Branch',
    dataIndex: 'branch',
    key: 'branch',
  },
  {
    title: 'Status',
    dataIndex: 'status',
    key: 'status',
    scopedSlots: { customRender: 'stats' },
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];



export default {
  data() {
      return {
        isLoading: false,
        data: [],
        columns,
        visible: false,
        size: 'small',
      };
  },
  created(){
    this.getUsers();
  },
  methods: {
    showDetails(data){
        console.log(data)
        this.visible = true;
    },
    async resetPassword(data){
      let vm = this;
      let payload =  {
        id: data.id,
        confirmPassword: "password",
      };

      this.$store.dispatch("user/userChangePassword", payload).then(({ data, status }) => {

          if(status < 300) {
              this.$notification['success']({
                  message: data.title,
                  description:data.message,
                  placement:'topRight'
              });

              this.getUsers();
          } else {
              this.$notification['error']({
                  message: data.title,
                  description:data.message,
                  placement:'topRight'
              });
          }

      });
    },
    showUpdateCase(){
        this.visible = true;
    },
    async getUsers(){
      this.isLoading = true;

      const {status, data} = await this.$store.dispatch("user/getUsersList");

      this.data = status < 300 ? data.list : [];

      this.isLoading = false;
    },
  }
};
</script>
