<template>
    <div>
        <a-descriptions title="" layout="vertical" bordered>
            <a-descriptions-item label="DATE AND TIME OF COLLECTION">
                <a-date-picker :disabled="enableEdit" v-model="form.dateTimeResult" style="width: 100%;" show-time use12-hours format="MM/DD/YYYY h:mm A" @change="dateResultChange" />
            </a-descriptions-item>
            <a-descriptions-item label="ACCESSION NUMBER">
                <a-input :readOnly="enableEdit" v-model="form.caseNumber" />
            </a-descriptions-item>
            <a-descriptions-item label="DATE AND TIME RELEASE.">
                <a-date-picker :disabled="enableEdit" v-model="form.dateReceipt" style="width: 100%;" show-time use12-hours format="MM/DD/YYYY h:mm A" @change="dateReceiptChange" />
            </a-descriptions-item>
            <a-descriptions-item label="HOSPITAL NUMBER">
                <a-input :readOnly="enableEdit" v-model="form.laboratoryNumber" />
            </a-descriptions-item>

            <a-descriptions-item label="SPECIMEN TYPE">
                <a-auto-complete :disabled="enableEdit" class="allCaps" v-model="form.specimenType" :data-source="specimenType" style="width: 100%"/>
            </a-descriptions-item>
            <a-descriptions-item label="BRAND">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.brand"
                    :data-source="brands"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Test Kit">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.testKit"
                    :data-source="testKits"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="Lot Number">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.lotNumber1"
                    :data-source="lotNumber1"
                    style="width: 100%"
                    class="allCaps"/>
                 </a-descriptions-item>
            <a-descriptions-item label="Expiry Date">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.expiryDate"
                    :data-source="expiryDate"
                    style="width: 100%"
                    class="allCaps"
                />
            </a-descriptions-item>
            <a-descriptions-item label="METHOD">
                <a-auto-complete :disabled="enableEdit" v-model="form.examMethod" :data-source="examMethod" style="width: 100%"
                    class="allCaps"/>
            </a-descriptions-item>
        </a-descriptions>
        <br>
        <a-descriptions title="Laboratory Test Result" layout="horizontal" bordered>
            
            <a-descriptions-item label="EXAMINATION REQUESTED" :span="3">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.examRequested"
                    :data-source="examRequest"
                    class="allCaps"
                    style="width: 100%"
                />
            </a-descriptions-item>
            <a-descriptions-item label="TEST RESULT" :span="3">
                <a-auto-complete
                    :disabled="enableEdit"
                    v-model="form.finalResult"
                    :data-source="results"
                    class="allCaps"
                    style="width: 100%"
                />
            </a-descriptions-item>
            
        </a-descriptions>
    </div>
</template>

<style scoped>
.allCaps{
    text-transform: uppercase;
}
</style>

<script>
import Inputmask from "inputmask";
import moment from 'moment';

export default {
    data(){
        return{
            form: {
                dateTimeResult: "",
                caseNumber: '',
                laboratoryNumber: '',
                wardNumber:'',
                specimenType:'',
                brand:'',
                examMethod:'',
                examRequested:'',
                finalResult:'',
                lotNumber1:'',
                testKit: '',
                expiryDate: '',
                dateReceipt: '',
            },

            testKits: [
                "AntiGen",
            ],

            examMethod: [
                "Lateral Flow ImmunoAssay"
            ],

            results: [
                'POSITIVE',
                'NEGATIVE'
            ],

            brands: [
                'ICHROMA',
                'Wondfo 2019nCoV antigen test',
                'CLUNGENE RAPID ANTIGEN TEST',
                'RAPIGEN BIOCREDIT COVID-19 AG',
                'ZYBIO SARS-CoV-2 ANTIGEN ASSAY KIT',
                'WONDFO 2019-nCOV ANTIGEN TEST'
            ],

           specimenType: [
                "NasoPharyngeal Swab"
            ],

            examRequest: [
                'COVID-19 QUALITATIVE RAPID ANTIGEN TEST'
            ],
            lotNumber1: [
                "W19611219D"
            ],
            expiryDate: [
                "12\/23\/2022"
            ],
            
        }
    },
    
    props: ["resultData", "currentStatus"],
    mounted(){
        // console.log(this.enableEdit);
        let dateMask = $('.time_mask');
        Inputmask("99:99 a{1,2}").mask(dateMask)
    },
    computed: {
        hasData(){
            return this.resultData != undefined ? true : false;
        },
        enableEdit(){
            let status = "MLISAT001, MLISAT00R, MLISAT00X";

            if(status.includes(this.currentStatus)){
                return true;
            }

             return false;
        }
    },

    methods: {
        async loadFormData(){
            if(this.hasData){
                this.form = this.resultData;
                console.log(this.form);
            }
        },
        dateCollectedChange(date, dateString){
            this.form.expiryDate = dateString;
        },
        dateReceiptChange(date, dateString){
            this.form.dateReceipt = dateString;
        },
        dateResultChange(date, dateString){
            this.form.dateTimeResult = moment(dateString).format('MM/DD/YYYY h:mm A');
        },
    },
    
}
</script>