<template>
  <div>
    <a-modal
      width="85%"
      :visible="modalStaus"
      :confirm-loading="confirmLoading"
      @cancel="handleCancel"
    >
        <template slot="title">
            {{modalTitle}} <a-tag :color="specimenData.rerun >= 1 ? 'red' : 'blue'">{{ specimenData.rerun >= 1 ? 'Rerun Specimen' : 'New Case Data' }}</a-tag>
        </template>
        <template slot="footer">
            <a-button key="back" @click="handleCancel">
                Close
            </a-button>
            
            <a-button v-if="downloadResult && (specimenData.appStatus == 'MLISAT00X' || specimenData.appStatus == 'MLISAT00R')" @click="downloadResultData">
                Download Test Result 
            </a-button>
            <a-button v-if=" (specimenData.appStatus == 'MLISAT00R' || specimenData.appStatus == 'MLISAT00X' || specimenData.appStatus == 'MLISAT000')"  @click="downloadCifData">
                Download Case Investigation Form
            </a-button>
            

            <a-popconfirm
                v-for="(btn, idx) in $data._status.listAction"
                :key="idx"
                placement="topRight"
                title="Are you sure you want to take this action?"
                ok-text="Yes"
                cancel-text="No"
                @confirm="updateStatus(idx)"
            >
                <a-icon slot="icon" type="question-circle-o" style="color: blue" />
                <a-button v-if="specimenData.appStatus != 'MLIS00X' && !onSearch"  type="primary" :loading="loading">
                    {{ btn }}
                </a-button>
            </a-popconfirm>
            
        </template>

        <a-tabs v-model="activeTab" >
            <Loader v-if="isLoading" />
            
            <a-tab-pane key="1">
                <span :forceRender="true" slot="tab">
                    <a-icon type="experiment" />
                    Test Result/Validation
                </span>
                <AntigenResultForm ref="resultForm" :resultData="$data._testResult" :currentStatus="specimenData.appStatus" />
                
            </a-tab-pane>
            <a-tab-pane key="2">
                <span slot="tab">
                    <a-icon type="question" />
                    Interview Details
                </span>
                <!-- Content -->
                <SpecimenInterviewDetails v-show="!isLoading" :interviewData="$data._interviewData" />
            </a-tab-pane>
            <a-tab-pane key="3">
                <span slot="tab">
                    <a-icon type="idcard" />
                    Patient Details
                </span>
                <SpecimenPatientDetails v-show="!isLoading" :patientData="$data._patientData" />
            </a-tab-pane>
            <a-tab-pane key="4">
                <span slot="tab">
                    <a-icon type="sliders" />
                    Case Investigation
                </span>
                <SpecimenCaseForm ref="caseForm" :caseData="$data._caseData" />
            </a-tab-pane>
            <a-tab-pane key="5">
                <span slot="tab">
                    <a-icon type="cluster" />
                    Contact Tracing
                </span>
                <SpecimenTracingDetails v-show="!isLoading" :tracingData="$data._tracingData" />
            </a-tab-pane>
        </a-tabs>
    </a-modal>
  </div>
</template>

<script>

const TestResultParams = {
                dateTimeResult: "",
                caseNumber: '',
                laboratoryNumber: '',
                wardNumber:'',
                specimenType:'',
                brand:'',
                examMethod:'',
                examRequested:'',
                finalResult:'',
                lotNumber1:'',
                testKit: '',
                expiryDate: '',
            }
export default {
    data() {
        return {
            modalTitle: 'Antigen Testing Details',
            isLoading: false,
            confirmLoading: false,
            activeTab: 1,
            loading: false,
            TestResultParams,
            _status: [],
            _interviewData: [],
            _patientData: [],
            _tracingData: [],
            _caseData: [],
            _testResult: [],
            
        }
    },
    props: ["modalStaus", "specimenData", "hasAction", "downloadResult", "downloadCif", "onSearch", "preEncoded"],

    watch: {
        modalStaus(newVal){
            if(newVal){
                this.loadData().then((res) => {
                    this.loadStatus();
                });
            }
        },
    },

    computed:{
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        },
        setActiveTab(){
            return this.hasAction == true ? "1" : "2";
        }
    },

    mounted(){
        this.activeTab = this.setActiveTab;
       
    },

    updated(){
        this.$nextTick(()=>{
            let self = this
            let status = "MLISAT001, MLISAT00R, MLISAT00X";

            if(self.$refs.resultForm != undefined && (status.includes(self.specimenData.appStatus))){
                self.$refs.resultForm.loadFormData()
            }
        });
    },
    
    methods: {
        forProcess(currStat){
            let status = "MLIS001,MLIS002,MLIS003,MLIS004,MLIS005,MLIS006,MLIS007,MLIS008";

            if(status.includes(currStat)){ 
                return true;
            } 

            return false
        },
        tabChanged(e){
            // console.log(e)
            // if(e == 1){
            //     if(this.$data._testResult != '' || this.$data._testResult != undefined){
            //         this.$nextTick(() => this.$refs.resultForm.loadFormData());
            //     }
            // } 
        },
        async loadData(){
            this.isLoading = true;
            

            let payload = this.specimenData.key;

            const {status, data} = await this.$store.dispatch("request/getDetailsById", payload);

            if(status <= 299){
                this.$data._interviewData = data.interviewForm;
                this.$data._patientData = data.patientForm;
                this.$data._tracingData = data.contactTracing;
                this.$data._caseData = data.caseForm;
                this.$data._testResult = data.testResult == '' ? undefined : data.testResult;
            } else {
                this.$data._interviewData = [];
                this.$data._patientData = [];
                this.$data._tracingData = [];
            }
            
        },
        async loadStatus(){
            let payload = {
                status: this.specimenData.appStatus
            }

            const {status, data} = await this.$store.dispatch("processflow/getApplicationStatus", payload);

            this.$data._status = status < 300 ? data : [];


            this.isLoading = false;

            // this.$nextTick(() => this.$refs.resultForm.loadFormData());
        },

        async downloadResultData(){
            let payload = {
                appId: this.specimenData.key
            }

            const {status, data} = await this.$store.dispatch("misc/downloadAntigenResult", payload);

            const link = document.createElement('a');
            link.id = "downloadResult";
            link.href = data.urlLink;
            link.target = "_blank";

            link.click();
        },
        async downloadCifData(){
            let payload = {
                appId: this.specimenData.key
            }

            const {status, data} = await this.$store.dispatch("misc/downloadGeneratedForm", payload);

            const link = document.createElement('a');
            link.id = "downloadResult";
            link.href = data.urlLink;
            link.target = "_blank";

            link.click();
        },
        async updateStatus(index){
            this.btnLoad = true

            let tResult = this.$refs.resultForm.form;
            // console.log(tResult, this.$data._testResult)

            let payload = {
                user: this.userData.userId,
                referenceId: this.specimenData.referenceId,
                applicationId: this.specimenData.key,
                nextStatus: this.$data._status.nextStep[index],
                action: this.$data._status.description[index],
                curStatus: this.$data._status.currentStatus[index],
                testResult: tResult,
                performedBy: '',
                verifiedBy: '',
                // approveBy: this.specimenData.approver,
                // encodedBy: this.specimenData.appStatus == 'MLISAT001' ? this.userData.userId : this.specimenData.encoder,
            }
            
            if(this.specimenData.appStatus == 'MLISAT000'){
                payload.encodedBy =this.userData.userId;
                payload.approveBy = '';
            }
            if(this.specimenData.appStatus == 'MLISAT001'){
                payload.approveBy = this.userData.userId;
                payload.encodedBy = this.specimenData.encoder;
            }
            if(this.specimenData.appStatus == 'MLISAT00R'){
                payload.approveBy = this.specimenData.approver;
                payload.encodedBy = this.specimenData.encoder;
            }

            // console.log(this.specimenData.appStatus)
            // console.log(payload)
            // return;

            this.$store.dispatch("processflow/updateApplicationStatus", payload).then(({ data, status }) => {
                

                if(status < 300) {
                    //store data
                    this.$notification['success']({
                        message: data.title,
                        description: data.message,
                    });

                    this.$emit("update:modalStaus", false)
                } else {
                    this.$notification['error']({
                        message: data.title,
                        description: data.message,
                    });
                }

                this.btnLoad = false
            });
        },
        validateTestResult(status){
            const form = this.$refs.resultForm.form;
            if(status == 'MLIS010'){
                if(!form.accessionNumber || !form.dateCollected || !form.dateReceipt || !form.dateTimeResult || !form.specimenType || !form.molecularTest || !form.viralTechnique || !form.nucleicAcid || !form.lotNumber1 || !form.instrument || !form.testKit || !form.lotNumber2){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } else if(status == 'MLIS011A'){
                if(!form.ctValue1 || !form.ctValue2){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } else if(status == 'MLIS009'){
                if(!form.testResult){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } 

            return true;

        },
        preEncodeTestResult(){
            this.btnLoad = true
          
            let tResult = this.$refs.resultForm.form;

            let payload = {
                user: this.userData.userId,
                referenceId: this.specimenData.referenceId,
                applicationId: this.specimenData.key,
                testResult: tResult,
            }

            this.$store.dispatch("processflow/preEncodeApplicationStatus", payload).then(({ data, status }) => {
                

                if(status < 300) {
                    this.$notification['success']({
                        message: data.title,
                        description: data.message,
                    });

                    this.$emit("update:modalStaus", false)
                } else {
                    this.$notification['error']({
                        message: data.title,
                        description: data.message,
                    });
                }

                this.btnLoad = false
            });
        },
        handleOk(e) {
            this.ModalText = 'The modal will be closed after two seconds';
            this.confirmLoading = true;
            setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
            }, 2000);
        },
        handleCancel(e) {
            this.$emit("update:modalStaus", false)
            this.$data._testResult = []
        },
    },
};
</script>
