<template>
  <div >
    <Forms-CaseInvestigation />
  </div>
</template>

<script>
export default {
  data: () => ({
    
  }),

  computed: {
    // userData() {
    //   return this.$decoder.decode();
    // },
  },

  watch: {
    
  },

  methods: {
    
  },

  created() {
    
  },
};
</script>