<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            :title="searchTitle"
            sub-title="Search for the patient records"
            @back="backSearch"
        >
            <template slot="extra">
                <a-input-group compact>
                    <a-select v-model="searchBy" >
                        <!-- <a-select-option value="reference">
                        Reference Number
                        </a-select-option> -->
                        <a-select-option value="lastname">
                        Patient Last Name
                        </a-select-option>
                        <a-select-option value="firstname">
                        Patient First Name
                        </a-select-option>
                    </a-select>
                    <!-- <a-input style="width: 50%"  @change="onSearch" v-model="searchValue" /> -->
                    <a-input-search ref="searchVal" v-model="searchValue" style="width: 50%" placeholder="input search text" enter-button @search="onSearch" />
                </a-input-group>
            </template>
        </a-page-header>
        
        <Loader v-if="isLoading" />
        <a-table v-if="!isLoading" :columns="columns" :data-source="data">
            <span slot="action" slot-scope="text, record">

                <a v-if="!record.isAntigen" @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
                <a v-if="record.isAntigen" @click="showAntigenDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>

                <a-popconfirm
                  v-if="checkType(userData.userType) || (userData.userType == 11 && statusAllowed.includes(record.appStatus))"
                  placement="topRight"
                  title="Are you sure you want to edit this Record?"
                  ok-text="Yes"
                  cancel-text="No"
                  @confirm="showDuplicate(record, 'EDIT')"
                >
                  <a-icon type="edit" :style="{ fontSize: '18px' }" />
                </a-popconfirm>

                <a-popconfirm
                  placement="topRight"
                  title="Are you sure you want to duplicate this Record?"
                  ok-text="Yes"
                  cancel-text="No"
                  @confirm="showDuplicate(record, 'DUPLICATE')"
                >
                  <a-icon type="copy" :style="{ fontSize: '18px' }" />
                </a-popconfirm>
            </span>
        </a-table>

        <SpecimenModal :modalStaus.sync="openDetailsModal" :specimenData="dataParams" :downloadResult="downloadableResult" :downloadCif="downloadableCif" :onSearch="onSearchDetails" :hasAction="needAction" />
        <DuplicateModal :modalStaus.sync="openDuplicateDetailsModal" :specimenData="dataParams" :takenAction="actionTaken" />
      <AntigenModal 
        :modalStaus.sync="openAntigenDetailsModal" 
        :specimenData="dataParams" 
        :downloadResult="true" 
        :onSearch="onSearchDetails" 
        :hasAction="needAction" 
      />
    </div>
</template>

<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Specimen Number',
    dataIndex: 'specimenNumber',
    key: 'specimenNumber',
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

export default {
    data: () => ({
        allowedEdit: ["1","3"],
        searchTitle: 'Search Record',
        isLoading: false,
        searchData: null,
        openDetailsModal: false,
        openAntigenDetailsModal: false,
        openDuplicateDetailsModal: false,
        needAction: true,
        onSearchDetails: true,
        downloadableResult: false,
        downloadableCif: false,
        actionTaken: "",
        searchValue: '',
        searchBy: 'lastname',
        visible: false,
        size: 'small',
        data:[],
        dataParams: [],
        columns,
        statusAllowed: 'MLIS000,MLIS00X,MLISAT00R,MLISAT000'
    }),
    watch:{
      openDetailsModal(newVal){
          if(!newVal){
              // this.getApplicationList();
            if(this.searchValue == ''){
              this.getApplicationList();
            } else {
              this.onSearch(this.searchValue);
            }
          }
      },
    },
    created(){
        this.getApplicationList();
    },
    computed:{
      userData(){
          return this.$decoder.decode(localStorage.getItem('token'))
      }
    },
    methods: {
        // showDetails(){
        //     this.visible = true;
        // },
        checkType(id) {
            return this.allowedEdit.includes(id) ? true : false;
        },
        showDetails(data){
          if(this.userData.userType == 11){
            this.downloadableResult = data.appStatus == 'MLIS00X' ? true : false;
          } else {
            this.downloadableResult =  true;
          }
          this.downloadableCif = true;
          this.dataParams = data;
          this.openDetailsModal = true;
        },
        showAntigenDetails(data){
          if(this.userData.userType == 11){
            this.downloadableResult = data.appStatus == 'MLISAT00X' ? true : false;
          } else {
            this.downloadableResult =  true;
          }
          this.downloadableCif = false;
          this.dataParams = data;
          this.openAntigenDetailsModal = true;
        },
        showDuplicate(data, action){
          this.actionTaken = action;
          this.dataParams = data;
          this.openDuplicateDetailsModal = true;
        },
        showUpdateCase(){
            this.visible = true;
        },
        async getApplicationList(){
            this.isLoading = true;

            let payload = {
              status: ['MLIS00X'],
              // user: this.userData.userId
              user: 0,
              branch: this.userData.branchId
            }
            const {status, data} = await this.$store.dispatch("request/getPendings", payload);

            this.data = status < 300 ? data.list : [];

            this.isLoading = false;
        },

        backSearch(){
            this.getApplicationList();
            this.searchValue = '';
            // this.$refs.searchVal.value = '';
            this.searchTitle = "Search Record";
        },
        async onSearch(value) {
          this.isLoading = true;

          if(value == ''){
            this.getApplicationList();
            return false;
          }

          let payload = {
            data: {
              search: value.toUpperCase(),
              branch: this.userData.branchId,
              status: ['MLIS00X', 'MLIS000', 'MLIS00R', 'MLIS010', 'MLIS009', 'MLIS001', 'MLIS002', 'MLIS003', 'MLIS004', 'MLIS005', 'MLIS006', 'MLIS007', 'MLIS008', 'MLIS009','MLISAT000','MLISAT00X']
            }, 
            searchBy: this.searchBy
          }
          const {status, data} = await this.$store.dispatch("request/searchApplication", payload);

          // console.log(data.list)
          this.data = status < 300 ? data.list : [];

          this.isLoading = false;
          this.searchTitle = status < 300 ? "Record Found" : "Not Found";
        },
    },
};
</script>