<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <client-only>
    <Sidebar :collapsedMenu.sync="collapsed" />
    </client-only>
    <a-layout>
      <PageHeader  />
      <a-layout-content
        :style="{ margin: '24px 16px', padding: '24px', background: '#fff', height: '680px', maxHeight: '680px',overflow: 'auto' }"
      >
        <Nuxt />
      </a-layout-content>
      <a-layout-footer style="textAlign: center">
        Molecular Laboratory Information System ©2021 Created by Futuristics
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script>
export default {
  name: "dashboard-layout",

  data() {
    return {
      collapsed: false,
    };
  },
  mounted() {
    
    if(!localStorage.getItem("token")) {
      this.$router.push('/')
    }
    //  else {
    //   let route = this.$route;
    //   if(route.name == "Dashboard"){
    //     this.$router.push('/dashboard')
    //   } else {
    //      this.$router.push(route.path)
    //   }
      
    // }
  },
  
};
</script>
