<template>
    <div>
        <a-layout id="components-layout-demo-top" class="layout">
            <a-layout-header>
                <a-menu
                    theme="dark"
                    mode="horizontal"
                    :default-selected-keys="['1']"
                    :style="{ lineHeight: '64px' }"
                >
                    <a-menu-item @click="showDrawer" key="1">
                        <a-icon type="user" />
                        Login
                    </a-menu-item>
                </a-menu>
            </a-layout-header>
            <a-layout-content style="padding: 0 50px">
                <div :style="{ background: '#fff', padding: '24px', minHeight: '280px' }">
                    <a-row style="text-align: center;">
                        <a-col :span="100">
                          <img src="~/static/img/logo.jpg" style="width: 30%;" /><br>
                          <strong style="font-size: 6em;">
                            M<span style="font-size:0.5em !important;">olecular</span>
                            L<span style="font-size:0.5em !important;">aboratory</span>
                            I<span style="font-size:0.5em !important;">nformation</span>
                            S<span style="font-size:0.5em !important;">ystem</span>
                          </strong>
                            <!-- <Slider /> -->
                        </a-col>
                    </a-row>
                </div>
                
            </a-layout-content>
            <a-layout-footer style="text-align: center">
                Molecular Laboratory Information System ©2021 Created by Futuristics
            </a-layout-footer>
        </a-layout>
        <a-drawer
        title="Login your account"
        :width="400"
        :visible="visible"
        :body-style="{ paddingBottom: '80px' }"
        @close="onClose"
        >
          <a-row>
            <a-col style="text-align: center;" :span="24">
              <img src="~/static/img/logo.jpg" style="width: 25%;" />
            </a-col>
          </a-row> <br/>
            <LoginForm />
        </a-drawer>
    </div>
</template>

<script>
export default {
  name: "dashboard-layout",

  data() {
    return {
      collapsed: false,
      form: this.$form.createForm(this),
      visible: false,
    };
  },

  methods: {
    showDrawer() {
      this.visible = true;
    },
    onClose() {
      this.visible = false;
    },
  },
  
  mounted() {
    if(!localStorage.getItem("token")) {
      this.$router.push('/')
    } else {
      this.$router.push('/dashboard')
    }
  },
};
</script>

<style>
#components-layout-demo-top {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
</style>
