<template>
  <a-form-model :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Disease Reporting Unit">
          <a-input read-only v-model="interviewData.drUnit" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="DRU Region and Province">
          <a-input read-only v-model="interviewData.druRegion" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="PhilHealth No.">
          <a-input id="philInput" v-model="interviewData.philHealth" />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Name of Interviewer">
          <a-input v-model="interviewData.interviewerName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Contact Number of Interviewer">
          <a-input class="contactNumberMask" v-model="interviewData.interviewerContact" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Date of Interview">
          <a-date-picker
            v-model="interviewData.interviewDate"
            placeholder="Pick a date"
            style="width: 100%;"
            @input="dateOfInterviewChange"
          />
        </a-form-model-item>

      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Name of Informant">
          <a-input v-model="interviewData.informant" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Relationship">
          <a-input v-model="interviewData.relationship" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Contact Number of Informant">
          <a-input class="contactNumberMask" v-model="interviewData.informantContact" />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="24">
        <a-form-model-item label="If existing case">
          <a-checkbox-group v-model="interviewData.ifCaseExists"  :options="typecases"></a-checkbox-group>
          <a-input v-if="form.ifCaseExists.includes('Others, specify:')" v-model="form.otherCase" />
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <a-form-model-item label="Client type">
          <a-checkbox-group v-model="interviewData.clientType">
            <a-checkbox value="COVID-19 Case (Suspect, Probable, or Confirmed)" name="type">
              COVID-19 Case (Suspect, Probable, or Confirmed) 
            </a-checkbox>
            <a-checkbox value="Close Contact" name="type">
              Close Contact 
            </a-checkbox>
            <a-checkbox value="For RT-PCR Testing (Not a Case of Close Contact)" name="type">
              For RT-PCR Testing (Not a Case of Close Contact)
            </a-checkbox>
          </a-checkbox-group>
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <a-form-model-item label="Testing Category/Subgroup* (Check all that apply, refer to Appendix 2)">
          <a-checkbox-group v-model="interviewData.testingCategory"  :options="testCats"></a-checkbox-group>
        </a-form-model-item>
      </a-col>
    </a-row>
  </a-form-model>
</template>

<script>
import Inputmask from "inputmask";

export default {
    data(){
        return{
            form: {
                drUnit: '',
                druRegion: '',
                philHealth: '',
                interviewerName: '',
                interviewerContact: '',
                interviewDate: '',
                informant: '',
                relationship: '',
                informantContact: '',
                ifCaseExists: [],
                otherCase: '',
                clientType: [],
                testingCategory: '',
            },
          testCats: ["A","B","C","D","E","F","G","H","I","J"],

          typecases: [ 
            "Not applicable (New case)", 
            "Not applicable (Unknown)", 
            "Update symptoms", 
            "Update health status", 
            "Update outcome", 
            "Update case classification", 
            "Update lab result", 
            "Update chest imaging findings", 
            "Update disposition", 
            "Update exposure / travel history", 
            "Others, specify:"
          ],
          typecaseOthers: false,
        }
    },
    
    props: ["interviewData"],
    
  mounted(){
    // Input masking for philhealth
    let philHealth = document.getElementById('philInput');
    let contactNumber = $('.contactNumberMask');
    Inputmask("99-9{1,9}-9").mask(philHealth);
    Inputmask("(09|\+639)9{9}").mask(contactNumber);
    // this.getBranch();

  },
  methods: {
    dateOfInterviewChange(date, dateString){
      this.interviewData.interviewDate = dateString;
    },
  }
}
</script>