<template>
  <a-form-model :label-col="labelCol" :rules="rules" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      <a-col :span="24">
        <a-divider orientation="left">Patient Details</a-divider>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Last Name" prop="lastName">
          <a-input v-model="patientData.lastName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="First Name" prop="firstName">
          <a-input v-model="patientData.firstName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Middle Name">
          <a-input v-model="patientData.middleName" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Suffix">
          <a-input v-model="patientData.suffix" />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="6">
        <a-form-model-item label="Birth Date" prop="birthDate">
          <a-date-picker
            v-model="patientData.birthDate"
            placeholder="Pick a date"
            @change="dateOfBirthChange"
            style="width: 100%;"
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Age" prop="age">
          <a-input v-model="patientData.age" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Sex" prop="sex">
          <a-radio-group v-model="patientData.sex">
            <a-radio value="Male">
              Male
            </a-radio>
            <a-radio value="Female">
              Female
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Civil Status">
          <a-select v-model="patientData.civilStatus" placeholder="please select civil status">
            <a-select-option value="Single">
              Single
            </a-select-option>
            <a-select-option value="Married">
              Married
            </a-select-option>
            <a-select-option value="Divorced">
              Divorced
            </a-select-option>
            <a-select-option value="Separated">
              Separated
            </a-select-option>
            <a-select-option value="Widowed">
              Widowed
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="Nationality" prop="nationality">
          <a-input v-model="patientData.nationality" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Occupation">
          <a-input v-model="patientData.occupation" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Works in a closed setting?">
          <a-radio-group v-model="patientData.workSetting">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown">
              Unknown
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      
    </a-row>

    <a-row v-for="(field, idx) in patientData.addressesDetails" :key="idx">
      <a-col :span="24">
        <a-divider orientation="left">
          {{ field.title }} 
        </a-divider>
      </a-col>
      
      <a-col v-if="idx != 0" :span="24">
          <a-checkbox @change="sameAsPresentAddress($event, idx)">
            Same as Present/Current Address
          </a-checkbox>
      </a-col>

      <a-col v-if="idx == 0" :span="6">
        
        <a-form-model-item label="Region *">
          <a-select
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in regionList" :key="item.region_code" :value="item.region_name" @click="regionChanged(item.region_code)" >
              {{ item.region_name }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
    
      <a-col v-if="idx == 0" :span="6">
        
        <a-form-model-item label="Province *">
          <a-select
            v-model="field.province"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in provinceList" :key="item.province_code" :value="item.province_name" @click="provinceChanged(item.province_code)" >
              {{ item.province_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`province-${idx}`" @change="getMunicipality" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx == 0" :span="6">
        <a-form-model-item label="Municipality/City *">
          <a-select
            v-model="field.municipality"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in cityList" :key="item.city_code" :value="item.city_name" @click="cityChanged(item.city_code)" >
              {{ item.city_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`municipality-${idx}`" @change="getBarangay" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx == 0" :span="6">
        <a-form-model-item label="Barangay *">
          <a-select
            v-model="field.barangay"
            show-search
            :filter-option="true"
            style="width: 100%"
          >
            <a-select-option v-for="item in brgyList" :key="item.brgy_code" :value="item.brgy_name" >
              {{ item.brgy_name }}
            </a-select-option>
          </a-select>
          <!-- <select :id="`barangay-${idx}`" @change="setBarangayValue" style="width: 100%; border-radius: 5px; padding: 4px;"></select> -->
        </a-form-model-item>
      </a-col>

      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Province">
          <a-input v-model="field.province" />
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Municipality/City">
          <a-input v-model="field.municipality" />
        </a-form-model-item>
      </a-col>
      <a-col v-if="idx != 0" :span="6">
        <a-form-model-item label="Barangay">
          <a-input v-model="field.barangay" />
        </a-form-model-item>
      </a-col>

      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'House No./Lot/Bldg. *':'House No./Lot/Bldg.'}`">
          <a-input v-if="idx == 0" v-model="field.houseNo" prop="addrHouseNo" />
          <a-input v-if="idx != 0" v-model="field.houseNo" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'Street/Purok/Sitio *':'Street/Purok/Sitio'}`">
          <a-input v-if="idx == 0" v-model="field.street" prop="addrStreet" />
          <a-input v-if="idx != 0" v-model="field.street" />
        </a-form-model-item>
      </a-col> 
      

      <a-col :span="6">
        <a-form-model-item label="Home Phone No.">
          <a-input v-model="field.areaCode" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item :label="`${idx == 0 ? 'Cellphone No. *':'Cellphone No.'}`">
          <a-input v-if="idx == 0" class="contactNumberMask" v-model="field.cellNumber" prop="addrCellNumber" />
          <a-input v-if="idx != 0" class="contactNumberMask" v-model="field.cellNumber" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Email Address">
          <a-input v-model="field.emailAddress" />
        </a-form-model-item>
      </a-col>
      
      
    </a-row>

    <a-row>
      <a-col :span="24">
        <a-divider orientation="left">Special Population (indicate further details on exposure and travel history in Part 3)</a-divider>
      </a-col>
      <a-col :span="`${patientData.isHealthWorker == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Health Care Worker" prop="isHealthWorker">
          <a-select v-model="patientData.isHealthWorker" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isHealthWorker == 'Yes'" :span="3">
        <a-form-model-item label="Facility">
          <a-input v-model="patientData.isHealthWorkerFacility" placeholder="Facility" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isHealthWorker == 'Yes'" :span="3">
        <a-form-model-item label="Location">
          <a-input v-model="patientData.isHealthWorkerLocation" placeholder="Location" />
        </a-form-model-item>
      </a-col>
      <a-col :span="`${patientData.isOversease == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Returning Overseas Filipino" prop="isOversease">
          <a-select v-model="patientData.isOversease" placeholder="please select option">

            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="OFW">
              OFW
            </a-select-option>
            <a-select-option value="Non-OFW">
              Non-OFW
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isOversease == 'Yes'" :span="3">
        <a-form-model-item label="Country of Origin">
          <a-input v-model="patientData.isOverseaseOrigin" placeholder="Country of Origin" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isOversease == 'Yes'" :span="3">
        <a-form-model-item label="Passport Number">
          <a-input v-model="patientData.isOverseasePassport" placeholder="Passport Number" />
        </a-form-model-item>
      </a-col>
      
      <a-col :span="`${patientData.isForeign == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Foreign National Traveler" prop="isForeign">
          <a-select v-model="patientData.isForeign" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isForeign == 'Yes'" :span="3">
        <a-form-model-item label="Country of Origin">
          <a-input v-model="patientData.isForeignOrigin" placeholder="Country of Origin" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isForeign == 'Yes'" :span="3">
        <a-form-model-item label="Passport Number">
          <a-input v-model="patientData.isForeignPassport" placeholder="Passport Number" />
        </a-form-model-item>
      </a-col>

      <a-col :span="`${patientData.isLocalTraveler == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Locally Stranded Individual / APOR / Local Traveler" prop="isLocalTraveler">
          <a-select v-model="patientData.isLocalTraveler" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isLocalTraveler == 'Yes'" :span="3">
        <a-form-model-item label="Traveler Type">
          <a-select v-model="patientData.isLocalTravelerType" placeholder="please select option">
            <a-select-option value="Locally Stranded Individual">
              Locally Stranded Individual
            </a-select-option>
            <a-select-option value="Authorized Person Outside Residence / Local Traveler">
              Authorized Person Outside Residence / Local Traveler
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isLocalTraveler == 'Yes'" :span="3">
        <a-form-model-item label="Origin">
          <a-input v-model="patientData.isLocalTravelerOrigin" placeholder="City, Municipality, & Province" />
        </a-form-model-item>
      </a-col>


      <a-col :span="`${patientData.isClosedSettings == 'Yes' ? '6' : '12'}`">
        <a-form-model-item label="Lives in Closed Settings" prop="isClosedSettings">
          <a-select v-model="patientData.isClosedSettings" placeholder="please select option">
            <a-select-option value="Yes">
              Yes
            </a-select-option>
            <a-select-option value="No">
              No
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isClosedSettings == 'Yes'" :span="3">
        <a-form-model-item label="Institution Type">
          <a-input v-model="patientData.isClosedSettingsType" placeholder="Institution Type" />
        </a-form-model-item>
      </a-col>
      <a-col v-show="patientData.isClosedSettings == 'Yes'" :span="3">
        <a-form-model-item label="Institution Name">
          <a-input v-model="patientData.isClosedSettingsName" placeholder="Institution Name" />
        </a-form-model-item>
      </a-col>
      
    </a-row>

  </a-form-model>
    
</template>

<script>
import {regions, provinces, cities, barangays} from 'select-philippines-address';
import moment from 'moment';

export default {
    data(){
        return{
            labelCol: { span: 24 },
            wrapperCol: { span: 22 },
            regionList: [],
            provinceList: [],
            cityList: [],
            brgyList: [],
            form: {
                lastName: '',
                firstName: '',
                middleName: '',
                suffix: '',
                birthDate: '',
                age: '',
                sex: 'Male',
                civilStatus: 'Single',
                nationality: '',
                occupation: '',
                workSetting: '',
                
                isHealthWorker: "",
                isHealthWorkerFacility: "",
                isHealthWorkerLocation: "",

                isOversease: "",
                isOverseaseOrigin: "",
                isOverseasePassport: "",

                isForeign: "",
                isForeignOrigin: "",
                isForeignPassport: "",

                isLocalTraveler: "",
                isLocalTravelerOrigin: "",
                isIndigenous: "",
                isIndigenousGroup: "",
                isClosedSettings: "",
                isClosedSettingsType: "",
                isClosedSettingsName: "",
                addressesDetails: [
                {
                    title: "Current Address in the Philippines and Contact Information*",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                },
                {
                    title: "Current Address in the Philippines and Contact Information*  (Provide address of institution if patient lives in closed settings, see 1.5)",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                },
                {
                    title: "Permanent Address and Contact Information (if different from current address)",
                    houseNo: "",
                    street: "",
                    barangay: "",
                    municipality: "",
                    province: "",
                    areaCode: "",
                    cellNumber: "",
                    emailAddress: "",
                }
                ],
            },

             typecases: [ 
                "Not applicable (New case)", 
                "Not applicable (Unknown)", 
                "Update symptoms", 
                "Update health status", 
                "Update outcome", 
                "Update case classification", 
                "Update lab result", 
                "Update chest imaging findings", 
                "Update disposition", 
                "Update exposure / travel history", 
                "Others, specify:"
            ],
            typecaseOthers: false,
            isValidated: true,
            
        }
    },
    
    props: ["patientData"],

    mounted(){
      let contactNumber = $('.contactNumberMask');
      Inputmask("(09|\+639)9{9}").mask(contactNumber);

        // this.getProvinces();
      regions().then((region) =>{
        this.regionList = region;
      })
    },

    methods: {
      regionChanged(value){
        provinces(value).then((province) => {
          this.provinceList = province
        });
      },
      provinceChanged(value){
        cities(value).then((cities) => {
          this.cityList = cities
        });
      },
      cityChanged(value){
        barangays(value).then((barangays) => {
          this.brgyList = barangays
        });
      },
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        },
        sameAsPresentAddress(e, index){
            let prop = e.target;
            if(prop.checked == true){
                this.patientData.addressesDetails[index].province = this.patientData.addressesDetails[0].province
                this.patientData.addressesDetails[index].municipality = this.patientData.addressesDetails[0].municipality
                this.patientData.addressesDetails[index].barangay = this.patientData.addressesDetails[0].barangay
                this.patientData.addressesDetails[index].street = this.patientData.addressesDetails[0].street
                this.patientData.addressesDetails[index].houseNo = this.patientData.addressesDetails[0].houseNo
                this.patientData.addressesDetails[index].areaCode = this.patientData.addressesDetails[0].areaCode
                this.patientData.addressesDetails[index].cellNumber = this.patientData.addressesDetails[0].cellNumber
                this.patientData.addressesDetails[index].emailAddress = this.patientData.addressesDetails[0].emailAddress
            } else {
                this.patientData.addressesDetails[index].province = ""
                this.patientData.addressesDetails[index].municipality = ""
                this.patientData.addressesDetails[index].barangay = ""
                this.patientData.addressesDetails[index].street = ""
                this.patientData.addressesDetails[index].houseNo = ""
                this.patientData.addressesDetails[index].areaCode = ""
                this.patientData.addressesDetails[index].cellNumber = ""
                this.patientData.addressesDetails[index].emailAddress = ""
            }
        
        },
        async getAddress(){
            const {status, data} = await this.$store.dispatch("misc/getAddress");

            this.addresses = status < 300 ? data : [];

            this.isLoading = false;
        },

        async getProvinces(){
            this.patientData.addressesDetails.forEach((el, key)=> {
                if(key == 0){
                $('#province-'+key).ph_locations({'location_type': 'provinces'});
                $('#province-'+key).ph_locations('fetch_list', [{"region_code": "03"}]);
                }
            });
        },
        async getMunicipality(e){
            let vm = this;
            let prop = e.target;
            let index = prop.id.slice(-1);
            vm.patientData.addressesDetails[index].province = $( "#province-"+index+" option:selected").text();
            $('#municipality-'+prop.id.slice(-1)).ph_locations({'location_type': 'cities'});
            $('#municipality-'+prop.id.slice(-1)).ph_locations('fetch_list', [{"province_code": String(prop.value)}]);
        },
        async getBarangay(e){
            let vm = this;
            let prop = e.target;
            let index = prop.id.slice(-1);
            vm.patientData.addressesDetails[index].municipality = $( "#municipality-"+index+" option:selected").text();
            $('#barangay-'+prop.id.slice(-1)).ph_locations({'location_type': 'barangays'});
            $('#barangay-'+prop.id.slice(-1)).ph_locations('fetch_list', [{"city_code": String(prop.value)}]);
        },
        async setBarangayValue(e){
            let vm = this;
            let prop = e.target;
            let index = prop.id.slice(-1);
            vm.patientData.addressesDetails[index].barangay = $( "#barangay-"+index+" option:selected").text();
        },
        dateOfBirthChange(date, dateString){
            this.patientData.birthDate = dateString;
        },
    },
    
}
</script>