<template>
  <a-form-model :label-col="labelCol" layout="vertical" :wrapper-col="wrapperCol">

    <a-row>
      
      <a-col :span="24">
        <a-form-model-item label="History of exposure to known probable and/or confirmed COVID-19 case 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection? *">
          <a-radio-group v-model="tracingData.hasHistoryExposure">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown">
              Unknown
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      <a-col :span="24">
        <a-form-model-item label="Has the patient been in a place with a known COVID-19 transmission 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection? *">
          <a-radio-group v-model="tracingData.hasSignSymptoms">
            <a-radio value="Yes International">
              Yes, International
            </a-radio>
            <a-radio value="Yes Local">
              Yes, Local
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
            <a-radio value="Unknown exposure">
              Unknown exposure
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col :span="8">
        <a-form-model-item label="If International Travel, country of origin">
          <a-input v-model="tracingData.isInternationalTravel" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="Inclusive travel dates:">
          <a-range-picker v-model="tracingData.travelDate" @change="onChange" />
        </a-form-model-item>
      </a-col>
      <a-col :span="8">
        <a-form-model-item label="With ongoing COVID-19 community transmission?">
          <a-radio-group v-model="tracingData.withCommunityTransmission">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-col>
      
    </a-row> 

    <a-row>
      <a-col :span="6">
        <a-form-model-item label="Airline/Sea vessel">
          <a-input v-model="tracingData.vessel" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Flight/Vessel Number">
          <a-input v-model="tracingData.vesselNumber" />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Date of departure (MM/DD/YYYY)">
          <a-date-picker
            @change="onChangeDepart"
            show-time
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="6">
        <a-form-model-item label="Date of arrival in PH (MM/DD/YYYY)">
          <a-date-picker
            @change="onChangeArrive"
            show-time
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
          />
        </a-form-model-item>
      </a-col>
      <a-col :span="24">
        <a-form-model-item
          v-for="(field, index) in tracingData.placeVisited"
          :key="index"
          :label="index === 0 ? 'If Local Travel, specify travel places ' : ''"
        >
          <a-input v-model="field.placeVisit" placeholder="Place Visited"  style="width: 20%; margin-right: 8px"/>
          <a-input v-model="field.placeName" placeholder="Place Name"  style="width: 20%; margin-right: 8px"/>
          <a-input v-model="field.placeAddress" placeholder="Address"  style="width: 20%; margin-right: 8px"/>
          <a-range-picker v-model="field.travelDate" style="width: 20%; margin-right: 8px" />
          
          With ongoing COVID-19 community transmission?
          <a-radio-group v-model="field.communityTransmission">
            <a-radio value="Yes">
              Yes
            </a-radio>
            <a-radio value="No">
              No
            </a-radio>
          </a-radio-group>

          <a-icon
            v-if="tracingData.placeVisited.length > 1"
            class="dynamic-delete-button"
            type="minus-circle-o"
            :disabled="tracingData.placeVisited.length === 1"
            @click="removePlaceVisited(field)"
          />
        </a-form-model-item>

        <a-form-model-item >
          <a-button type="dashed" style="width: 100%" @click="addPlaceVisited">
            <a-icon type="plus" /> Add Place Visited
          </a-button>
        </a-form-model-item>
      </a-col>

      <a-col :span="12">
        - If symptomatic, provide names and contact numbers of persons who were with the patient two days prior to onset of illness until this date <br>
        - If asymptomatic, provide names and contact numbers of persons who were with the patient on the day specimen was submitted for testing until this date
      </a-col>
      <a-col :span="12">
        <a-form-model-item
          v-for="(field, index) in tracingData.contactTrace"
          :key="index"
          label=""
        >
          <a-input v-model="field.name" placeholder="Name"  style="width: 40%; margin-right: 8px"/>
          <a-input v-model="field.contactNumber" placeholder="Contact Number"  style="width: 40%; margin-right: 8px"/>
          <a-icon
            v-if="tracingData.contactTrace.length > 1"
            class="dynamic-delete-button"
            type="minus-circle-o"
            :disabled="tracingData.contactTrace.length === 1"
            @click="removeContactPerson(field)"
          />
        </a-form-model-item>

        <a-form-model-item >
          <a-button type="dashed" style="width: 100%" @click="addContactPerson">
            <a-icon type="plus" /> Add Contact Person
          </a-button>
        </a-form-model-item>
      </a-col>
      
      
    </a-row>
  </a-form-model>
    
</template>

<script>
import moment from 'moment';

export default {
    data(){
        return{
            labelCol: { span: 24 },
            wrapperCol: { span: 22 },
            historyTitle: 'History of exposure to known probable and/or confirmed COVID-19 case 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection?',
            hasPatientTitle: 'Has the patient been in a place with a known COVID-19 transmission 14 days before the onset of signs and symptoms? OR If Asymptomatic, 14 days before swabbing or specimen collection?',
            namesTitle: "- If symptomatic, provide names and contact numbers of persons who were with the patient two days prior to onset of illness until this date - If asymptomatic, provide names and contact numbers of persons who were with the patient on the day specimen was submitted for testing until this date",
            form: {
                hasHistoryExposure: '',
                hasSignSymptoms: '',
                isInternationalTravel: '',
                travelDate: '',
                withCommunityTransmission: '',
                vessel: '',
                vesselNumber: '',
                dateOfDeparture: '',
                dateOfArrival: '',
                
                placeVisited: [
                    {
                        placeVisit: '',
                        placeName: '',
                        placeAddress: '',
                        travelDate: '',
                        communityTransmission: '',
                    }
                ],
                contactTrace: [
                    {
                        name: '',
                        contactNumber: ''
                    }
                ]
            },
        }
    },
    
    props: ["tracingData"],

    methods: {
        onChange(date, dateString) {
            this.tracingData.travelDate = dateString
        },
        onChangeField(date, dateString) {
            console.log(date)
        },
        onChangeDepart(date, dateString) {
            this.tracingData.dateOfDeparture = dateString
        },
        onChangeArrive(date, dateString) {
            this.tracingData.dateOfArrival = dateString
        },
        removePlaceVisited(item) {
            let index = this.tracingData.placeVisited.indexOf(item);
            if (index !== -1) {
                this.tracingData.placeVisited.splice(index, 1);
            }
        },
        addPlaceVisited() {
            this.tracingData.placeVisited.push({
                placeVisit: '',
                placeName: '',
                placeAddress: '',
                travelDate: '',
                communityTransmission: '',
            });
        },
        removeContactPerson(item) {
            let index = this.tracingData.contactTrace.indexOf(item);
            if (index !== -1) {
                this.tracingData.contactTrace.splice(index, 1);
            }
        },
        addContactPerson() {
            this.tracingData.contactTrace.push({
                name: '',
                contactNumber: ''
            });
        },
        convertBirthDate(date){
            return moment(date).format('MM/DD/YYYY')
        }
    },
    
}
</script>