<template>
  <div>
    <a-modal
      width="85%"
      :visible="modalStaus"
      :confirm-loading="confirmLoading"
      @cancel="handleCancel"
    >
        <template slot="title">
            {{modalTitle}} <a-tag :color="specimenData.rerun >= 1 ? 'red' : 'blue'">{{ specimenData.rerun >= 1 ? 'Rerun Specimen' : 'New Case Data' }}</a-tag>
        </template>
        <template slot="footer">
            <a-button key="back" type="danger" @click="handleCancel">
                Close
            </a-button>
            <a-button 
                v-if="(specimenData.appStatus == 'MLIS00X' || specimenData.appStatus == 'MLISAT00X') && takenAction == 'DUPLICATE'" 
                type="primary" 
                @click="submitForms"
            >
                Duplicate
            </a-button>
            <a-button v-if="takenAction == 'RECEIVE' "  @click="downloadCif">
                Download Case Investigation Form
            </a-button>
            <a-button v-if="takenAction == 'EDIT' || takenAction == 'RECEIVE'" type="primary" @click="submitFormUpdate">
                Submit Changes
            </a-button>

            <a-popconfirm
                v-for="(btn, idx) in $data._status.listAction"
                :key="idx"
                placement="topRight"
                title="Are you sure you want to take this action?"
                ok-text="Yes"
                cancel-text="No"
                @confirm="updateStatus(idx)"
            >
                <a-icon slot="icon" type="question-circle-o" style="color: blue" />
                <a-button v-if="takenAction == 'RECEIVE'"  type="primary" :loading="loading">
                    {{ btn }}
                </a-button>
            </a-popconfirm>
        </template>

        <a-tabs v-model="activeTab" >
            <Loader v-if="isLoading" />
            
            <a-tab-pane key="1">
                <span slot="tab">
                    <a-icon type="question" />
                    Interview Details
                </span>
                <!-- Content -->
                <DuplicateInterviewDetails v-show="!isLoading" :interviewData="$data._interviewData" />
            </a-tab-pane>
            <a-tab-pane key="2">
                <span slot="tab">
                    <a-icon type="idcard" />
                    Patient Details
                </span>
                <DuplicatePatientDetails v-show="!isLoading" :patientData="$data._patientData" />
            </a-tab-pane>
            <a-tab-pane key="3">
                <span slot="tab">
                    <a-icon type="sliders" />
                    Case Investigation
                </span>
                <DuplicateCaseForm ref="caseForm" :caseData.sync="$data._caseData" />
            </a-tab-pane>
            <a-tab-pane key="4">
                <span slot="tab">
                    <a-icon type="cluster" />
                    Contact Tracing
                </span>
                <DuplicateTracingDetails v-show="!isLoading" :tracingData="$data._tracingData" />
            </a-tab-pane>
        </a-tabs>
    </a-modal>
  </div>
</template>

<script>

const TestResultParams = {
    wellID:"",
    validation1:"",
    validation2:"",
    accessionNumber: "",
    dateCollected: "",
    timeCollected: "",
    dateReceipt: "",
    dateTimeResult: "",
    specimenType: "",
    molecularTest: "",

    testResult: "",
    ctValue1: "",
    ctValue2: "",

    viralTechnique: "",
    nucleicAcid: "",
    lotNumber1: "",

    instrument: "",
    testKit: "",
    lotNumber2: ""
}
export default {
    data() {
        return {
            modalTitle: 'Case Investigation Details',
            isLoading: false,
            confirmLoading: false,
            activeTab: 1,
            loading: false,
            TestResultParams,
            specimenNumber: 0,
            _status: [],
            _interviewData: [],
            _patientData: [],
            _tracingData: [],
            _caseData: [],
            
        }
    },
    props: ["modalStaus", "specimenData", "hasAction", "download", "onSearch", "takenAction"],

    watch: {
        modalStaus(newVal){
            if(newVal){
                this.loadData().then((res) => {
                    this.loadStatus();
                });
            }
        },
    },

    computed:{
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        },
        setActiveTab(){
            return this.hasAction == true ? "1" : "2";
        }
    },

    mounted(){
        this.activeTab = this.setActiveTab;
       
    },

    updated(){
        this.$nextTick(()=>{
            let self = this
            let status = "MLIS011A,MLIS009,MLIS010,MLIS00R,MLIS00X,MLIS002,MLIS004,MLIS006,MLIS008,MLIS001,MLIS003,MLIS005,MLIS007";

            if(self.$refs.resultForm != undefined && (status.includes(self.specimenData.appStatus))){
                self.$refs.resultForm.loadFormData()
            }
        });
    },
    
    methods: {
        forProcess(currStat){
            let status = "MLIS001,MLIS002,MLIS003,MLIS004,MLIS005,MLIS006,MLIS007,MLIS008";

            if(status.includes(currStat)){ 
                return true;
            } 

            return false
        },
        tabChanged(e){
            // console.log(e)
            // if(e == 1){
            //     if(this.$data._testResult != '' || this.$data._testResult != undefined){
            //         this.$nextTick(() => this.$refs.resultForm.loadFormData());
            //     }
            // } 
        },
        async loadData(){
            this.isLoading = true;
            

            let payload = this.specimenData.key;

            const {status, data} = await this.$store.dispatch("request/getDetailsById", payload);

            if(status <= 299){
                this.specimenNumber = data.specimenNumber;
                this.$data._interviewData = data.interviewForm;
                this.$data._patientData = data.patientForm;
                this.$data._tracingData = data.contactTracing;
                this.$data._caseData = data.caseForm;
                this.$data._testResult = data.testResult == '' ? undefined : data.testResult;
            } else {
                this.$data._interviewData = [];
                this.$data._patientData = [];
                this.$data._tracingData = [];
            }
            
        },
        async loadStatus(){
            let payload = {
                status: this.specimenData.appStatus
            }

            const {status, data} = await this.$store.dispatch("processflow/getApplicationStatus", payload);

            this.$data._status = status < 300 ? data : [];


            this.isLoading = false;

            // this.$nextTick(() => this.$refs.resultForm.loadFormData());
        },
        async downloadCif(){
            let payload = {
                appId: this.specimenData.key
            }

            const {status, data} = await this.$store.dispatch("misc/downloadGeneratedForm", payload);

            const link = document.createElement('a');
            link.id = "downloadResult";
            link.href = data.urlLink;
            link.target = "_blank";

            link.click();
        },
        async updateStatus(index){
            this.btnLoad = true

            let payload = {
                user: this.userData.userId,
                referenceId: this.specimenData.referenceId,
                applicationId: this.specimenData.key,
                nextStatus: this.$data._status.nextStep[index],
                action: this.$data._status.description[index],
                curStatus: this.$data._status.currentStatus[index],
                testResult: this.TestResultParams,
                performedBy: this.specimenData.performer.length >= 1 ? this.specimenData.performer.join(',') : '',
                approveBy: this.specimenData.approver.length >= 1 ? this.specimenData.approver.join(',') : '',
                verifiedBy: this.specimenData.appStatus == 'MLIS009' ? this.userData.userId : this.specimenData.verifier,
                encodedBy: this.specimenData.appStatus == 'MLIS010' ? this.userData.userId : this.specimenData.encoder,
            }

            this.$store.dispatch("processflow/updateApplicationStatus", payload).then(({ data, status }) => {
                

                if(status < 300) {
                    //store data
                    this.$notification['success']({
                        message: data.title,
                        description: data.message,
                    });

                    this.$emit("update:modalStaus", false)
                } else {
                    this.$notification['error']({
                        message: data.title,
                        description: data.message,
                    });
                }

                this.btnLoad = false
            });
        },

        async submitForms(){
            let vm = this;
            // this.isLoading = true;

            let payload = {
                branchId: this.userData.branchId,
                userId: this.userData.userId,
                interviewForm: this.$data._interviewData,
                patientForm: this.$data._patientData,
                contactTracing: this.$data._tracingData,
                caseForm: this.$data._caseData,
                specimenNumber: Number(this.specimenNumber) + 1,
                isDuplicate: 'Yes'
            };
            // console.log(payload)
            // return 


            this.$store.dispatch("request/createSpecimen", payload).then(({ data, status }) => {

                if(status < 300) {
                    this.$notification['success']({
                        message: 'Duplicate Record',
                        description: data.message,
                    });

                    this.$emit("update:modalStaus", false)
                } else {
                    this.$notification['error']({
                        message: 'Duplicate Record',
                        description: data.message,
                    });
                }


            });

            this.isLoading = false;
        },
        async submitFormUpdate(){
            let vm = this;
            // this.isLoading = true;

            let payload = {
                applicationId:  this.specimenData.key,
                currStatus: this.specimenData.appStatus,
                interviewForm: this.$data._interviewData,
                patientForm: this.$data._patientData,
                contactTracing: this.$data._tracingData,
                caseForm: this.$data._caseData,
            };
            // console.log(payload, this.$data)
            // return 


            this.$store.dispatch("request/updateSpecimen", payload).then(({ data, status }) => {

                if(status < 300) {
                    this.$notification['success']({
                        message: 'Update Record',
                        description: data.message,
                    });

                    this.$emit("update:modalStaus", false)
                } else {
                    this.$notification['error']({
                        message: 'Update Record',
                        description: data.message,
                    });
                }


            });

            this.isLoading = false;
        },
        validateTestResult(status){
            const form = this.$refs.resultForm.form;
            if(status == 'MLIS010'){
                if(!form.accessionNumber || !form.dateCollected || !form.dateReceipt || !form.dateTimeResult || !form.specimenType || !form.molecularTest || !form.viralTechnique || !form.nucleicAcid || !form.lotNumber1 || !form.instrument || !form.testKit || !form.lotNumber2){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } else if(status == 'MLIS011A'){
                if(!form.ctValue1 || !form.ctValue2){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } else if(status == 'MLIS009'){
                if(!form.testResult){
                    this.$notification['error']({
                        message: 'Required Input Fields',
                        description: 'Please complete the required fields!',
                    });

                    return false;
                } else {
                    return true;
                }
            } 

            return true;

        },
        handleOk(e) {
            this.ModalText = 'The modal will be closed after two seconds';
            this.confirmLoading = true;
            setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
            }, 2000);
        },
        handleCancel(e) {
            this.$emit("update:modalStaus", false)
        },
    },
};
</script>
