<template>
  <router-view></router-view>
</template>

<script>
export default {
  layout: "dashboard",

  meta: {
    module: 0,
  },

  created() {
    // this.$route.matched.length == 1 && this.$router.push("/404");
  },
};
</script>