<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            :title="searchTitle"
            sub-title="Search for the patient records"
            @back="backSearch"
        >
            <template slot="extra">
                <a-input-group compact>
                    <a-select v-model="searchBy" >
                        <a-select-option value="lastname">
                        Last Name Starts With Letter
                        </a-select-option>
                        <a-select-option value="firstname">
                        First Name Starts With Letter
                        </a-select-option>
                    </a-select>
                    <a-input-search ref="searchVal" v-model="searchValue" style="width: 50%" placeholder="input search text" enter-button @search="onSearch" />
                </a-input-group>
            </template>
        </a-page-header>
        <a-row>
            <a-col :span="6">
              <a-form-model-item label="SELECTED SPECIMEN">
                <a-popconfirm
                  placement="topRight"
                  title="Are you sure you want to process what you've selected?"
                  ok-text="Yes"
                  cancel-text="No"
                  @confirm="processMultiple"
                >
                  <a-button  v-if="hasSelected"  type="primary" :loading="loading">
                    APPROVE SPECIMEN
                  </a-button>
                </a-popconfirm>

              </a-form-model-item>
            </a-col>
        </a-row>
        <Loader v-if="isLoading" />
        <a-table v-if="!isLoading" :columns="columns" :data-source="data" :row-selection="rowSelection">
            <span slot="action" slot-scope="text, record">
                <a @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
            </span>
        </a-table>

      <AntigenModal 
        :modalStaus.sync="openDetailsModal" 
        :specimenData="dataParams" 
        :downloadResult="true" 
        :onSearch="onSearchDetails" 
        :hasAction="needAction" 
    />
    </div>
</template>
<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    sorter: (a, b) => a.referenceId.length - b.referenceId.length,
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    sorter: (a, b) => a.name.length - b.name.length,
    // sortOrder: 'ascend',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

export default {
    data() {
        return {
          searchTitle: 'Search Record',
          searchData: null,
          searchValue: '',
          searchBy: 'lastname',
          isLoading: false,
          openDetailsModal: false,
          needAction: true,
          onSearchDetails: false,
          dataParams: [],
          data: [],
          columns,
          visible: false,
          size: 'small',
          hasSelected: false,
          selectedSpecimen: [],
        };
    },
    watch:{
        stat(newVal){
            if(newVal){
                this.getApplicationList();
            }
        },
      openDetailsModal(newVal){
        if(!newVal){
          if(this.searchValue == ''){
            this.getApplicationList();
          } else {
            this.onSearch(this.searchValue);
          }
        }
      },
    },
    computed:{
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        },
        rowSelection() {
          return {
            onSelect: (record, selected, selectedRows) => {
              this.hasSelected = selected ? true : false;
              this.selectedSpecimen = selectedRows
            },
            onSelectAll: (selected, selectedRows, changeRows) => {
              this.hasSelected = selected ? true : false;
              this.selectedSpecimen = selectedRows
            },
          }
        }
    },
    created(){
        this.getApplicationList();
    },
    methods: {
        backSearch(){
            this.getApplicationList();
            this.searchValue = '';
            // this.$refs.searchVal.value = '';
            this.searchTitle = "Search Record";
        },
        async onSearch(value) {
          this.isLoading = true;

          if(value == ''){
            this.getApplicationList();
            return false;
          }

          let payload = {
            data: {
              search: value.toUpperCase(),
              branch: this.userData.branchId,
              status: ['MLISAT001']
            }, 
            searchBy: this.searchBy
          }
          const {status, data} = await this.$store.dispatch("request/searchApplication", payload);

          // console.log(data.list)
          this.data = status < 300 ? data.list : [];

          this.isLoading = false;
          this.searchTitle = status < 300 ? "Record Found" : "Not Found";
        },
        async processMultiple(index){

          let payload = {
            user: this.userData.userId,
            selected: this.selectedSpecimen,
            resultForm: ""
          }

          this.$store.dispatch("processflow/updateSelectedApplicationStatus", payload).then(({ data, status }) => {

            if(status < 300) {
              this.$notification['success']({
                  message: 'Update Record',
                  description: data.message,
              });

              this.getApplicationList();
            } else {
                this.$notification['error']({
                    message: 'Update Record',
                    description: data.message,
                });
            }


          });

        },
        showDetails(data){
          this.dataParams = data;
          this.openDetailsModal = true;
        },
        showUpdateCase(){
            this.visible = true;
        },
        async getApplicationList(){
            this.isLoading = true;

            let payload = {
                status: ['MLISAT001'],
                user: 0
            }
            const {status, data} = await this.$store.dispatch("request/getPendings", payload);

            this.data = status < 300 ? data.list : [];

            this.isLoading = false;
        },
    }
};
</script>
