<template>
    <div>
        <a-row>
          <a-col :span="24">
            <a-form-model-item label="SELECTED SPECIMEN">
              <a-popconfirm
                placement="topRight"
                title="Are you sure you want to process what you've selected?"
                ok-text="Yes"
                cancel-text="No"
                @confirm="processMultiple"
              >
                <a-button  v-if="hasSelected"  type="primary" style="margin-right: 10px;" :loading="loading">
                  MOVE SPECIMEN ON NEXT PROCESS STEP
                </a-button>
              </a-popconfirm>

            </a-form-model-item>
          </a-col>
        </a-row>

        <Loader v-if="isLoading" />
        <a-table v-if="!isLoading" :columns="columns" :data-source="data" :row-selection="rowSelection">
            <span slot="action" slot-scope="text, record">
                <a @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
            </span>
        </a-table>

        <SpecimenModal :modalStaus.sync="openDetailsModal" :specimenData="dataParams" :downloadResult="true" :onSearch="onSearchDetails" :hasAction="needAction" />
    </div>
</template>
<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

const testResultForm = {
  wellID:"",
  validation1:"",
  validation2:"",
  accessionNumber: "",
  dateCollected: "",
  dateReceipt: "",
  dateTimeResult: "",
  specimenType: "",
  molecularTest: "",
  testResult: "",
  finalReading: "",
  finalResult: "",
  kitValue1: "",
  kitValue2: "",
  ctValue1: "",
  ctValue2: "",
  viralTechnique: "",
  nucleicAcid: "",
  lotNumber1: "",
  instrument: "",
  testKit: "",
  lotNumber2: ""
};

export default {
    data() {
        return {
            isLoading: false,
            onSearchDetails: false,
            openDetailsModal: false,
            needAction: true,
            data: [],
            dataParams: [],
            columns,
            visible: false,
            size: 'small',
            hasSelected: false,
            selectedSpecimen: [],
            testResultForm,
        };
    },
    watch:{
        stat(newVal){
            if(newVal){
                this.getApplicationList();
            }
        },
        openDetailsModal(newVal){
            if(!newVal){
                this.getApplicationList();
            }
        },
    },
    computed:{
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        },
        rowSelection() {
          return {
            onSelect: (record, selected, selectedRows) => {
              this.hasSelected = selected ? true : false;
              this.selectedSpecimen = selectedRows
            },
            onSelectAll: (selected, selectedRows, changeRows) => {
              this.hasSelected = selected ? true : false;
              this.selectedSpecimen = selectedRows
            },
          }
        }
    },
    created(){
        this.getApplicationList();
    },
    methods: {
        showDetails(data){
          this.dataParams = data;
          this.openDetailsModal = true;
        },
        showUpdateCase(){
            this.visible = true;
        },
        async getApplicationList(){
            this.isLoading = true;

            let payload = {
                status: ['MLIS002','MLIS004','MLIS006','MLIS008'],
                user: this.userData.userId
            }
            const {status, data} = await this.$store.dispatch("request/getPendings", payload);

            this.data = status < 300 ? data.list : [];

            this.isLoading = false;
        },

        async processMultiple(index){

          let payload = {
            user: this.userData.userId,
            selected: this.selectedSpecimen,
            resultForm: this.testResultForm
          }

          this.$store.dispatch("processflow/updateSelectedApplicationStatus", payload).then(({ data, status }) => {

            if(status < 300) {
              this.$notification['success']({
                  message: 'Update Record',
                  description: data.message,
              });

              this.getApplicationList();
            } else {
                this.$notification['error']({
                    message: 'Update Record',
                    description: data.message,
                });
            }


          });

        },
    },
};
</script>
