<template>
    <div>
        <a-row>
          <a-col :span="18">
              <a-form-model-item label="PROCESS TYPE">
              <a-select v-model="stat">
                  <a-select-option v-for="(st, idx) in statuses" :value="st.status" :key="idx">
                      {{ st.description }}
                  </a-select-option>
              </a-select>
              </a-form-model-item>
          </a-col>
          <a-col :span="6">
            <a-form-model-item label="SELECTED SPECIMEN">
              <a-popconfirm
                placement="topRight"
                title="Are you sure you want to process what you've selected?"
                ok-text="Yes"
                cancel-text="No"
                @confirm="processMultiple"
              >
                <a-button  v-if="hasSelected"  type="primary" :loading="loading">
                  PROCESS SPECIMEN
                </a-button>
              </a-popconfirm>

            </a-form-model-item>
          </a-col>
        </a-row>

        <Loader v-if="isLoading" />
        <a-table v-if="!isLoading" :columns="columns" :data-source="data" :row-selection="rowSelection">
            
            <span slot="action" slot-scope="text, record">
                <a @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
                <!-- <a-divider type="vertical" />
                <a @click="showUpdateCase">Update Case</a> -->
            </span>
        </a-table>

        <SpecimenModal :modalStaus.sync="openDetailsModal" :specimenData="dataParams" :downloadResult="true" :onSearch="onSearchDetails" :hasAction="needAction" />
    </div>
</template>
<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
    scopedSlots: { customRender: 'status' },
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

const testResultForm = {
  wellID:"",
  validation1:"",
  validation2:"",
  accessionNumber: "",
  dateCollected: "",
  dateReceipt: "",
  dateTimeResult: "",
  specimenType: "",
  molecularTest: "",
  testResult: "",
  finalReading: "",
  finalResult: "",
  kitValue1: "",
  kitValue2: "",
  ctValue1: "",
  ctValue2: "",
  viralTechnique: "",
  nucleicAcid: "",
  lotNumber1: "",
  instrument: "",
  testKit: "",
  lotNumber2: ""
};


export default {
    data() {
        return {
            isLoading: false,
            onSearchDetails: false,
            openDetailsModal: false,
            needAction: true,
            hasSelected: false,
            data: [],
            dataParams: [],
            selectedSpecimen: [],
            testResultForm,
            specimenStatus: "",
            stat: 'MLIS001',
            statuses: [
                {
                    id: "1",
                    status: "MLIS001",
                    description: "For Sample Receiving and Preparation",
                },
                {
                    id: "2",
                    status: "MLIS003",
                    description: "For Processing",
                },
                {
                    id: "3",
                    status: "MLIS005",
                    description: "For Reagent Preparation",
                },
                {
                    id: "4",
                    status: "MLIS007",
                    description: "For Amplipications",
                },
            ],
            columns,
            visible: false,
            size: 'small',
        };
    },
    watch:{
      stat(newVal){
          if(newVal){
              this.getApplicationList();
          }
      },
      openDetailsModal(newVal){
          if(!newVal){
              this.getApplicationList();
          }
      },
    },
    created(){
        this.getApplicationList();
    },
    methods: {
      showDetails(data){
          this.dataParams = data;
          this.openDetailsModal = true;
      },
      showUpdateCase(){
          this.visible = true;
      },
      async getApplicationList(){
          this.isLoading = true;

          let payload = {
              status: [this.stat],
              user: 0
          }
          const {status, data} = await this.$store.dispatch("request/getPendings", payload);

          this.data = status < 300 ? data.list : [];

          this.isLoading = false;
      },
      
      async processMultiple(index){

        let payload = {
          user: this.userData.userId,
          selected: this.selectedSpecimen,
          resultForm: this.testResultForm
        }

        this.$store.dispatch("processflow/updateSelectedApplicationStatus", payload).then(({ data, status }) => {

          if(status < 300) {
            this.$notification['success']({
                message: 'Update Record',
                description: data.message,
            });

            this.getApplicationList();
          } else {
              this.$notification['error']({
                  message: 'Update Record',
                  description: data.message,
              });
          }


        });

      },
        
    },
    computed:{
      userData(){
        return this.$decoder.decode(localStorage.getItem('token'))
      },
      rowSelection() {
        return {
          onSelect: (record, selected, selectedRows) => {
            this.hasSelected = selected ? true : false;
            this.selectedSpecimen = selectedRows
          },
          onSelectAll: (selected, selectedRows, changeRows) => {
            this.hasSelected = selected ? true : false;
            this.selectedSpecimen = selectedRows
          },
        }
      }
    }
};
</script>
