<template>
    <div>
      <Loader v-if="isLoading" />
      <a-table v-if="!isLoading" :columns="columns" :data-source="data">
          <span slot="action" slot-scope="text, record">
              <a @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
          </span>
      </a-table>

      <SpecimenModal :modalStaus.sync="openDetailsModal" :specimenData="dataParams" :onSearch="onSearchDetails" :hasAction="needAction" />
    </div>
</template>
<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

export default {
    data() {
        return {
            isLoading: false,
            onSearchDetails: false,
            openDetailsModal: false,
            needAction: false,
            dataParams: [],
            data: [],
            columns,
            visible: false,
            size: 'small',
        };
    },
    watch:{
        openDetailsModal(newVal){
            if(!newVal){
                this.getApplicationList();
            }
        },
    },
    computed:{
        userData(){
            return this.$decoder.decode(localStorage.getItem('token'))
        }
    },
    created(){
        this.getApplicationList();
    },
    methods: {
        showDetails(data){
          this.dataParams = data;
          this.openDetailsModal = true;
        },
        showUpdateCase(){
            this.visible = true;
        },
        async getApplicationList(){
            this.isLoading = true;

            let payload = {
                status: ['MLIS00D'],
                user: 0
            }
            const {status, data} = await this.$store.dispatch("request/getPendings", payload);

            this.data = status < 300 ? data.list : [];

            this.isLoading = false;
        },
    }
};
</script>
