<template>
    <div>
        <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            :title="searchTitle"
            sub-title="Search for the patient records by QR Code Scan"
        >
            <!-- <template slot="extra">
                <a-input-group>
                    <a-input-search ref="searchVal" v-model="searchValue" style="width: 50%" placeholder="input search text" enter-button @search="onSearch" />
                </a-input-group>
            </template> -->
        </a-page-header>
        
        <Loader v-if="isLoading" />
        <a-table v-if="!isLoading" :columns="columns" :data-source="data">
            <span slot="action" slot-scope="text, record">
                <a @click="showDetails(record)"><a-icon type="eye" :style="{ fontSize: '18px' }" /></a>
            </span>
        </a-table>

        <SpecimenModal :modalStaus.sync="openDetailsModal" :specimenData="dataParams" :download="downloadableResult" :onSearch="onSearchDetails" :hasAction="needAction" />
    </div>
</template>

<script>
const columns = [
  {
    title: 'Reference Number',
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Sex',
    dataIndex: 'gender',
    key: 'gender',
  },
  {
    title: 'Interview Date',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'DR Unit',
    key: 'drUnit',
    dataIndex: 'drUnit',
  },
  {
    title: 'Status',
    key: 'status',
    dataIndex: 'status',
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

export default {
    data: () => ({
        searchTitle: 'Search Record',
        isLoading: false,
        searchData: null,
        openDetailsModal: false,
        needAction: true,
        onSearchDetails: true,
        downloadableResult: true,
        searchValue: '',
        searchBy: 'byReference',
        visible: false,
        size: 'small',
        data:[],
        dataParams: [],
        columns,
    }),
    watch:{
        openDetailsModal(newVal){
            if(!newVal){
                this.getApplicationList();
            }
        },
    },
    created(){
        this.onSearch();
    },
    computed:{
      userData(){
          return this.$decoder.decode(localStorage.getItem('token'))
      }
    },
    methods: {

        showDetails(data){
          this.dataParams = data;
          this.openDetailsModal = true;
        },
        showUpdateCase(){
            this.visible = true;
        },
        async onSearch() {
          this.isLoading = true;

          let payload = {
            search: this.$route.params.referenceId,
            branch: this.userData.branchId
          }
          const {status, data} = await this.$store.dispatch("request/searchApplication", payload);

          // console.log(data.list)
          this.data = status < 300 ? [data.list] : [];

          this.isLoading = false;
          this.searchTitle = status < 300 ? "Record Found" : "Not Found";
        },
    },
};
</script>