<template>
  <div >
    <a-row v-if="isLoading" :glutter="16">
      <Loader />
    </a-row>
    <a-row v-if="!isLoading" :gutter="16">
      <a-col :span="6">
        <a-card>
          <a-statistic
            title="Total Cases"
            :value="dashData.activeCases"
            :precision="0"
            suffix=""
            :value-style="{ color: '#3f8600' }"
            style="margin-right: 50px"
          >
            <template #prefix>
              <a-icon type="snippets" />
            </template>
          </a-statistic>
        </a-card>
      </a-col>
      <a-col :span="6">
        <a-card>
          <a-statistic
            title="Positive"
            :value="dashData.totalPositive"
            :precision="0"
            suffix=""
            class="demo-class"
            :value-style="{ color: '#cf1322' }"
          >
            <template #prefix>
              <a-icon type="usergroup-add" />
            </template>
          </a-statistic>
        </a-card>
      </a-col>
      <a-col :span="6">
        <a-card>
          <a-statistic
            title="Negative"
            :value="dashData.totalNegative"
            :precision="0"
            suffix=""
            :value-style="{ color: '#3f8600' }"
            style="margin-right: 50px"
          >
            <template #prefix>
              <a-icon type="usergroup-delete" />
            </template>
          </a-statistic>
        </a-card>
      </a-col>
      <a-col :span="6">
        <a-card>
          <a-statistic
            title="Rerun Specimens"
            :value="dashData.totalRerun"
            :precision="0"
            suffix=""
            class="demo-class"
            :value-style="{ color: '#cf1322' }"
          >
            <template #prefix>
              <a-icon type="arrow-down" />
            </template>
          </a-statistic>
        </a-card>
      </a-col>
      <a-col style="margin-top: 15px;" :span="24"></a-col>
      <a-col :span="6">
        <a-card>
          <a-statistic
            title="Invalid Specimen"
            :value="dashData.totalRerun"
            :precision="0"
            suffix=""
            class="demo-class"
            :value-style="{ color: '#cf1322' }"
          >
            <template #prefix>
              <a-icon type="arrow-down" />
            </template>
          </a-statistic>
        </a-card>
      </a-col>
      <a-col style="margin-top: 15px;" :span="24">
        <a-divider>CHART REPORTS</a-divider>
      </a-col>
      <a-col :span="14">
        <ChartsMonthlyResult />
      </a-col>
      <a-col :span="10">
        <ChartsCovidResults />
      </a-col>
    </a-row>

  </div>
</template>

<script>

const columns = [
  {
    dataIndex: 'referenceId',
    key: 'referenceId',
    slots: { title: 'referenceTitle' },
    scopedSlots: { customRender: 'Reference Number' },
  },
  {
    dataIndex: 'name',
    key: 'name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
  },
  {
    title: 'Address',
    dataIndex: 'address',
    key: 'address',
  },
  {
    title: 'Date Of Interview',
    dataIndex: 'dateOfInterview',
    key: 'dateOfInterview',
  },
  {
    title: 'Type of Client',
    dataIndex: 'typeOfClient',
    key: 'typeOfClient',
  },
  {
    title: 'Cases',
    key: 'cases',
    dataIndex: 'cases',
    scopedSlots: { customRender: 'cases' },
  },
  {
    title: 'Action',
    key: 'action',
    scopedSlots: { customRender: 'action' },
  },
];

export default {
  data: () => ({
    data: [],
    columns,
    isLoading: false,
    dashData: [],
    
  }),

  computed: {
    userData() {
      return this.$decoder.decode(localStorage.getItem('token'))
    },
  },

  created(){
    this.getDashboard();
  },

  methods: {
    showDetails(data){
      this.visible = true;
    },
    showUpdateCase(){
      this.visible = true;
    },
    async getDashboard(){
      this.isLoading = true;

      let payload = {
        branch: this.userData.branchId
      }
      const {status, data} = await this.$store.dispatch("misc/getDashboards", payload);

      this.dashData = status < 300 ? data : [];

      this.isLoading = false;
    },

  },

  mounted() { },
};
</script>