<template>
  <div>
    <div style="backgound: white;">
      <a-steps :current="current">
        <a-step v-for="item in formSteps" :key="item.title" :status="item.status" :title="item.title">
          <a-icon slot="icon" :type="item.icon" />
        </a-step>
      </a-steps>
    </div>
    <div class="steps-content" style="overflow:auto !important; padding: 20px; max-height: 500px; text-align: left !important;">
        <div v-show="current == 0">
          <StepsFormInterview ref="interviewForm" />
        </div>
        <div v-show="current == 1">
          <StepsFormPatient ref="patientForm" />
        </div>
        <div v-show="current == 2">
          <StepsFormCase ref="caseForm" />
        </div>
        <div v-show="current == 3">
          <StepsFormContact ref="contactForm" />
        </div>
        <div v-show="current == 4">
          <Loader v-show="isLoading" />
          <StepsMessages v-show="!isLoading" :title.sync="msgTitle" :subTitle.sync="msgSubTitle" :status.sync="msgStatus"  />
        </div>
    </div>

    <div class="steps-action">
      <a-button v-if="current < steps.length - 1" type="primary" @click="next">
        Next
      </a-button>
      <a-button
          v-if="current == steps.length - 1 && msgStatus != 'success'"
          type="primary"
          :loading="isLoading"
          @click="submitForms"
      >
        Submit Case Investigation Form
      </a-button>
      <a-button
          v-if="current != 0 && msgStatus == 'success'"
          type="primary"
          @click="backToRegister"
      >
        Done
      </a-button>
      <a-button v-if="current > 0" style="margin-left: 8px" @click="prev">
        Previous
      </a-button>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
      isLoading: false,
      msgTitle: 'Confirmation',
      msgSubTitle: 'Are you sure you want to insert this user?',
      msgStatus: 'info',
      current: 0,
      dataResult:{},
      formData:{},
      steps: [
        {
          title: 'Interview Details',
          status: 'process',
          icon: 'form'
        },
        {
          title: 'Patient Details',
          status: 'wait',
          icon: 'user'
        },
        {
          title: 'Case Information',
          status: 'wait',
          icon: 'sliders'
        },
        {
          title: 'Contact Tracing',
          status: 'wait',
          icon: 'apartment'
        },
        {
          title: 'Information Submitted',
          status: 'wait',
          icon: 'check-circle'
        },
      ],
    };
  },

  computed: {
    formSteps() {
      return this.steps;
    },
    userData() {
      return this.$decoder.decode(localStorage.getItem('token'));
    },
  },

  methods: {
    next() {

      if(this.current == 1){
        let patientForm = this.$refs.patientForm;
        patientForm.onValidate();
        let validate = patientForm.isValidated;
        // let validAddress = this.validateAddress(patientForm.form.addressesDetails[0]);
        
        // if(!validate || !validAddress){
        if(!validate){
          this.$notification['error']({
            message: 'Required Input Fields',
            description: 'Please complete the required fields!',
          });
          return false;
        }

      }
      this.current++;
      this.steps[this.current].status = 'process';
    },
    prev() {
      this.steps[this.current].status = 'wait';
      this.current--;
    },
    validateAddress(address){
      if(!address.barangay || !address.municipality || !address.province || !address.houseNo || !address.street){
        return false;
      }

      return true;
    },
    backToRegister(){
      this.current = 0;
      this.msgTitle = 'Confirmation'
      this.msgSubTitle = 'Are you sure you want to insert this user?'
      this.msgStatus = 'info'
      this.steps[0].status = 'process';
      this.steps[1].status = 'wait';
      this.steps[2].status = 'wait';
      this.steps[3].status = 'wait';
      this.steps[4].status = 'wait';
    },
    submitForms(){
      let vm = this;
      this.isLoading = true;
      let ct = this.$refs.contactForm.form;
      ct.placeVisited.forEach((el, key) => {
        if(ct.placeVisited[key].travelDate == ""){
          ct.placeVisited[key].travelDate = "";
        } else {
          ct.placeVisited[key].travelDate = el.travelDate.split(" - ")
        }
        
      });
      ct.travelDate = ct.isInternationalTravel != "" ? ct.travelDate : "";
      

      let payload = {
        branchId: this.userData.branchId,
        userId: this.userData.userId,
        interviewForm: this.$refs.interviewForm.form,
        patientForm: this.$refs.patientForm.form,
        contactTracing: this.$refs.contactForm.form,
        caseForm: this.$refs.caseForm.form,
      };

      this.$store.dispatch("request/createSpecimen", payload).then(({ data, status }) => {

        if(status < 300) {
          this.steps[this.current].status = 'finish';
          this.$nextTick(() => this.$refs.interviewForm.resetForm());
          this.$nextTick(() => this.$refs.patientForm.resetForm());
          this.$nextTick(() => this.$refs.caseForm.resetForm());
          this.$nextTick(() => this.$refs.contactForm.resetForm());
          this.msgTitle = data.title;
          this.msgSubTitle = data.message;
          this.msgStatus = 'success';
        } else {
          this.steps[this.current].status = 'error';
          this.msgTitle = 'Submission Failed';
          this.msgSubTitle = data.message;
          this.msgStatus = 'error';
        }

      });

      this.isLoading = false;
    },
    

  },

  created(){
    // this code reserved for changing of status 
    // this.steps[this.current].icon = 'loading';
    // console.log(this.steps[this.current])
  }
};
</script>
<style scoped>

.ant-col * {
    padding-left: 5px;
    padding-right: 5px;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #d4c9c92e !important;
  min-height: 200px;
  text-align: center;
  padding-top: 50px !important;
}

.steps-action {
  margin-top: 24px;
}
</style>